In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dmvp.csv',index_col=0)

In [3]:
df.head()

,adp,bye_week,projected_games,ppg_played,projected_points,dmvp
name,,,,,,
1Justin JeffersonMIN,1.01,13,16,21.4,348.9,100.0
2Ja'Marr ChaseCIN,1.03,7,15,21.3,332.0,92.1
3Tyreek HillMIA,1.05,10,15,21.1,328.7,90.6
4Cooper KuppLAR,1.06,10,16,19.8,323.0,87.9
5Stefon DiggsBUF,1.08,13,16,18.8,306.8,80.3

AttributeError: 'Index' object has no attribute 'sample'