In [2]:
import pandas as pd
import time
from bs4 import BeautifulSoup
import requests
from playwright.async_api import async_playwright, TimeoutError as PlaywrightTimeout

In [3]:
async def get_html(url, sleep=5, retries=3):
    html = None
    for i in range(1, retries+1):
        time.sleep(sleep * i)
        try:
            async with async_playwright() as p:
                browser = await p.firefox.launch()
                page = await browser.new_page()
                await page.goto(url)
                print(await page.title())
                await page.mouse.wheel(15000,15000)
                time.sleep(2)
                html = await page.innerHTML('body')
        except PlaywrightTimeout:
            print(f"Timeout error on {url}")
            continue
        else:
            break
    return html

In [4]:
import pandas as pd
import time

def get_yahoo_leagues(beg,num):    
    '''
    Scrape yahoo leagues to determine league id, points format, and teams in league
    Returns a df
    '''
    league_id = []
    league_player_count = []
    league_scoring_format = []
    league_positions = []
    
    for i in range (beg,num+1):
        try:
            df = pd.read_html(f'https://football.fantasysports.yahoo.com/f1/{i}/settings') 
            df0 = df[0]
            df1 = df[1]
            league_id.append(i)
            league_scoring_format.append(df1[df1.iloc[:,0].str.contains('Receptions')].iloc[0,1])
            league_player_count.append(int(df0[df0.Setting=='Max Teams:']['Value'].iloc[0]))
            league_positions.append(df[1].iloc[:,0].name)
          
        except:
            pass

        time.sleep(7)

    return pd.DataFrame({'id':league_id,
                         'player_count':league_player_count,'format':league_scoring_format,
                         'positions':league_positions})

In [ ]:
#df = pd.read_html(f'https://football.fantasysports.yahoo.com/f1/1/settings')

In [ ]:
# df = get_yahoo_leagues(15440,15460)
# df

In [ ]:
#leagues.append(df)

In [ ]:
#save = pd.concat(leagues)

In [ ]:
#save.to_csv('league_ids.csv')

In [272]:
# Create a df from 2010-2022 with player stats and adp
adp = pd.read_csv('adp_all.csv')
adp = adp[adp.pos.isin(['RB','WR','QB','TE'])]

df = pd.read_csv('ffb_df.csv',index_col=0)

df.Player = df.Player.str.replace('*','').str.replace('+','').str.strip()
df.Player = df.Player.str.replace('II','').str.replace('III','')
adp.name = adp.name.str.replace(' II','').str.replace('GordonI','Gordon').str.strip()
adp = adp.reset_index(drop=True)

df = df.merge(adp,how='left',left_on=['Player','FantPos','year'],right_on=['name','pos','year'])

df = df[['Rk', 'Player', 'Tm', 'FantPos', 'Age', 'G', 'GS', 'Cmp', 'Att', 'Yds',
       'TD', 'Int', 'Att.1', 'Yds.1', 'Y/A', 'TD.1', 'Tgt', 'Rec', 'Yds.2',
       'Y/R', 'TD.2', 'Fmb', 'FL', 'TD.3', 'PPR', 'VBD', 'PosRank', 'year', 'adp']]

df.loc[[7323,7326,7327,7338,7340],'adp'] = [19,25,350,38,81] #Incomplete data for adp in 2012
df.loc[df[df.adp.isna()].index,'adp'] = 350

cols = ['rk','player', 'team', 'pos', 'age', 'g', 'gs', 'cmp', 'pass_att',
       'pass_yds', 'pass_tds', 'int', 'rush_att', 'rush_yard', 'y/a',
       'rush_tds', 'tgt', 'rec', 'rec_yards', 'y/r', 'rec_tds', 'fmb', 'fl',
       'rush_rec_tds', 'ppr_pts', 'vbd', 'pos_rank', 'year',
       'adp']
df.columns = cols

df = df.fillna(0)
df = df[df.pos!=0]

In [349]:
df.head()

,rk,player,team,pos,age,g,gs,cmp,pass_att,pass_yds,...,y/r,rec_tds,fmb,fl,rush_rec_tds,ppr_pts,vbd,pos_rank,year,adp
0,1,Jamaal Charles,KAN,RB,27,15,15,0.0,0.0,0.0,...,9.90,7.0,4.0,2.0,19,378.0,182.0,1,2013,2.0
1,2,LeSean McCoy,PHI,RB,25,16,16,0.0,0.0,0.0,...,10.37,2.0,1.0,1.0,11,330.6,152.0,2,2013,9.0
2,3,Peyton Manning,DEN,QB,37,16,16,450.0,659.0,5477.0,...,0.00,0.0,10.0,6.0,1,410.0,151.0,1,2013,40.0
3,4,Matt Forte,CHI,RB,28,16,16,0.0,0.0,0.0,...,8.03,3.0,2.0,2.0,12,337.3,137.0,3,2013,12.0
4,5,Jimmy Graham,NOR,TE,27,16,12,0.0,0.0,0.0,...,14.13,16.0,0.0,0.0,16,303.5,124.0,1,2013,14.0

In [350]:
# Add 'pos_rank' and 'success' columns
df = pd.read_csv('season1.csv',index_col=0)

seasons = range(2010,2023)
positions = ['QB','RB','WR','TE']
add = []

for s in seasons:
    for p in positions:
        test = df[(df.year==s)&(df.pos==p)].sort_values('adp').reset_index(drop=True)
        test['adp_by_pos'] = test.index+1
        
        test = test[(test.year==s)&(test.pos==p)].sort_values('ppr_pts',ascending=False).reset_index(drop=True)
        test['pos_rank'] = test.index+1
        
        add.append(test)

df = pd.concat(add).reset_index(drop=True)

# Add 'success' column
for i in range(0,len(df.index)):
    if df.loc[i,'pos'] =='QB' or df.loc[i,'pos'] =='TE':
        
        if df.loc[i, 'adp_by_pos'] <= 3:
            if df.loc[i,'pos_rank'] <= 3:
                df.loc[i,'success'] = 1
            else:
                df.loc[i, 'success'] = 0
        else:
            if df.loc[i,'pos_rank']<=12:
                df.loc[i,'success'] = 1
            else:
                df.loc[i, 'success'] = 0

    else:
        if df.loc[i, 'adp_by_pos'] <= 6:
            if df.loc[i,'pos_rank'] <= 6:
                df.loc[i,'success'] = 1
            else:
                df.loc[i, 'success'] = 0

        elif df.loc[i, 'adp_by_pos'] > 36:
            if df.loc[i,'pos_rank'] < 36:
                df.loc[i,'success'] = 1
            else:
                df.loc[i, 'success'] = 0

        else:
            if df.loc[i,'pos_rank'] <= df.loc[i,'adp_by_pos']:
                df.loc[i, 'success'] = 1
            else:
                df.loc[i, 'success'] = 0
        
# Add 'round' columns
for i in range(0,len(df.index)):
    if df.loc[i,'adp'] <= 12:
        df.loc[i, 'round'] = 1
    elif df.loc[i,'adp'] <= 24:
        df.loc[i, 'round'] = 2
    elif df.loc[i,'adp'] <= 36:
        df.loc[i, 'round'] = 3
    elif df.loc[i,'adp'] <= 48:
        df.loc[i, 'round'] = 4
    elif df.loc[i,'adp'] <= 60:
        df.loc[i, 'round'] = 5
    elif df.loc[i,'adp'] <= 72:
        df.loc[i, 'round'] = 6
    elif df.loc[i,'adp'] <= 84:
        df.loc[i, 'round'] = 7
    elif df.loc[i,'adp'] <= 96:
        df.loc[i, 'round'] = 8
    elif df.loc[i,'adp'] <= 108:
        df.loc[i, 'round'] = 9
    elif df.loc[i,'adp'] <= 120:
        df.loc[i, 'round'] = 10
    elif df.loc[i,'adp'] <= 132:
        df.loc[i, 'round'] = 11
    elif df.loc[i,'adp'] <= 144:
        df.loc[i, 'round'] = 12
    elif df.loc[i,'adp'] <= 156:
        df.loc[i, 'round'] = 13
    elif df.loc[i,'adp'] <= 168:
        df.loc[i, 'round'] = 14
    else:
        df.loc[i, 'round'] = 15

In [356]:
df = pd.read_csv('season1.csv',index_col=0)

In [357]:
df.head()

,rk,player,team,pos,age,g,gs,cmp,pass_att,pass_yds,...,fl,rush_rec_tds,ppr_pts,vbd,pos_rank,year,adp,adp_by_pos,success,round
0,12,Michael Vick,PHI,QB,30,12,12,233.0,372.0,3018.0,...,3.0,9,310.3,81.0,1,2010,350.0,54,1.0,15.0
1,17,Aaron Rodgers,GNB,QB,27,15,15,312.0,475.0,3922.0,...,1.0,4,304.5,75.0,2,2010,7.0,1,1.0,1.0
2,20,Tom Brady,NWE,QB,33,16,16,324.0,492.0,3900.0,...,1.0,1,299.0,70.0,3,2010,27.0,4,1.0,3.0
3,25,Peyton Manning,IND,QB,34,16,16,450.0,679.0,4700.0,...,1.0,0,285.8,57.0,4,2010,21.0,3,0.0,2.0
4,28,Philip Rivers,SDG,QB,29,16,16,357.0,541.0,4710.0,...,4.0,0,281.6,53.0,5,2010,48.0,7,1.0,4.0

In [343]:
df.head()

,rk,player,team,pos,age,g,gs,cmp,pass_att,pass_yds,...,y/r,rec_tds,fmb,fl,rush_rec_tds,ppr_pts,vbd,pos_rank,year,adp
0,1,Jamaal Charles,KAN,RB,27,15,15,0.0,0.0,0.0,...,9.90,7.0,4.0,2.0,19,378.0,182.0,1,2013,2.0
1,2,LeSean McCoy,PHI,RB,25,16,16,0.0,0.0,0.0,...,10.37,2.0,1.0,1.0,11,330.6,152.0,2,2013,9.0
2,3,Peyton Manning,DEN,QB,37,16,16,450.0,659.0,5477.0,...,0.00,0.0,10.0,6.0,1,410.0,151.0,1,2013,40.0
3,4,Matt Forte,CHI,RB,28,16,16,0.0,0.0,0.0,...,8.03,3.0,2.0,2.0,12,337.3,137.0,3,2013,12.0
4,5,Jimmy Graham,NOR,TE,27,16,12,0.0,0.0,0.0,...,14.13,16.0,0.0,0.0,16,303.5,124.0,1,2013,14.0

In [338]:
df[(df.year==2022)][['player','pos','rk','ppr_pts','pos_rank','adp','year']].sort_values(by='rk').head(30)

                   player pos  rk  ppr_pts  pos_rank    adp  year
5502      Patrick Mahomes  QB   1    417.4         1   50.0  2022
5503          Josh Jacobs  RB   2    328.3         1   46.0  2022
5504  Christian McCaffrey  RB   3    356.4         2    3.0  2022
5505        Derrick Henry  RB   4    302.8         3    2.0  2022
5506     Justin Jefferson  WR   5    368.7         1    6.0  2022
5507        Austin Ekeler  RB   6    372.7         4    8.0  2022
5508           Josh Allen  QB   7    395.5         2   19.0  2022
5509         Travis Kelce  TE   8    316.3         1   17.0  2022
5510        Davante Adams  WR   9    335.5         2   13.0  2022
5511           Nick Chubb  RB  10    281.4         5    7.0  2022
5512          Tyreek Hill  WR  11    347.2         3   24.0  2022
5513          Jalen Hurts  QB  12    378.0         3   41.0  2022
5514           A.J. Brown  WR  13    299.6         4   26.0  2022
5515         Stefon Diggs  WR  14    316.6         5   12.0  2022
5516       Saquon Barkley  RB  15    284.0         6   20.0  2022
5517          CeeDee Lamb  WR  16    301.6         6   21.0  2022
5518           Joe Burrow  QB  17    350.7         4   63.0  2022
5519      Jamaal Williams  RB  18    225.9         7  141.0  2022
5520        Jaylen Waddle  WR  19    259.2         7   52.0  2022
5521         Tony Pollard  RB  20    248.8         8   71.0  2022
5522          Dalvin Cook  RB  21    237.8         9    4.0  2022
5523        Miles Sanders  RB  22    216.7        10   58.0  2022
5524        George Kittle  TE  23    200.5         2   40.0  2022
5525         Amari Cooper  WR  24    246.0         8   72.0  2022
5526          Taysom Hill  TE  25    145.8         3  415.0  2022
5527          Aaron Jones  RB  26    248.6        11   15.0  2022
5528    Amon-Ra St. Brown  WR  27    267.6         9   86.0  2022
5529        DeVonta Smith  WR  28    254.6        10   81.0  2022
5530       T.J. Hockenson  TE  29    215.4         4   91.0  2022
5531       Christian Kirk  WR  30    241.9        11  113.0  2022

In [137]:
df.columns

Index(['Rk', 'Player', 'Tm', 'FantPos', 'Age', 'G', 'GS', 'Cmp', 'Att', 'Yds',
       'TD', 'Int', 'Att.1', 'Yds.1', 'Y/A', 'TD.1', 'Tgt', 'Rec', 'Yds.2',
       'Y/R', 'TD.2', 'Fmb', 'FL', 'TD.3', '2:00 PM', '2PP', 'FantPt', 'PPR',
       'DKPt', 'FDPt', 'VBD', 'PosRank', 'OvRank', '-9999', 'year', 'adp',
       'name', 'pos', 'tm'],
      dtype='object')

In [234]:
df.shape

(7916, 29)

In [235]:
df.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,Y/R,TD.2,Fmb,FL,TD.3,PPR,VBD,PosRank,year,adp
0,1,Jamaal Charles,KAN,RB,27,15,15,0.0,0.0,0.0,...,9.90,7.0,4.0,2.0,19,378.0,182.0,1,2013,2.0
1,2,LeSean McCoy,PHI,RB,25,16,16,0.0,0.0,0.0,...,10.37,2.0,1.0,1.0,11,330.6,152.0,2,2013,9.0
2,3,Peyton Manning,DEN,QB,37,16,16,450.0,659.0,5477.0,...,NaN,0.0,10.0,6.0,1,410.0,151.0,1,2013,40.0
3,4,Matt Forte,CHI,RB,28,16,16,0.0,0.0,0.0,...,8.03,3.0,2.0,2.0,12,337.3,137.0,3,2013,12.0
4,5,Jimmy Graham,NOR,TE,27,16,12,0.0,0.0,0.0,...,14.13,16.0,0.0,0.0,16,303.5,124.0,1,2013,14.0

### need 'adp_by_pos', 'success', 'round'

In [164]:
df = df[~df.pos.isna()]

In [170]:
adp[adp.year==2013]

       adp             name pos    tm    year
0      1.0  Adrian Peterson  RB   MIN  2013.0
1      2.0   Jamaal Charles  RB    KC  2013.0
2      3.0      Doug Martin  RB    TB  2013.0
3      4.0     Arian Foster  RB   HOU  2013.0
4      5.0   Calvin Johnson  WR   DET  2013.0
..     ...              ...  ..   ...     ...
167  168.0     Coby Fleener  TE   IND  2013.0
168  169.0   Brian Hartline  WR   MIA  2013.0
169  170.0   Ryan Tannehill  QB   MIA  2013.0
170  171.0    Philip Rivers  QB   LAC  2013.0
175  176.0        EJ Manuel  QB  None  2013.0

[158 rows x 5 columns]

In [181]:
adp.year.unique()

array([2013., 2010., 2011., 2012., 2014., 2015., 2016., 2017., 2018.,
       2019., 2020., 2021., 2022.])

In [177]:
df[(df.avg_draft_pos_ppr.isna()) & (df.rk<50)]

,rk,player,team,pos,age,g,gs,cmp,pass_att,pass_yds,...,y/r,rec_tds,fmb,fl,rush_rec_tds,ppr_pts,vbd,pos_rank,year,avg_draft_pos_ppr
23,24,Fred Jackson,BUF,RB,32,16,6,0.0,0.0,0.0,...,8.23,1.0,3.0,0.0,10,234.7,61.0,10,2013,NaN
27,28,Julius Thomas,DEN,TE,25,14,14,0.0,0.0,0.0,...,12.12,12.0,0.0,0.0,12,215.8,58.0,3,2013,NaN
30,31,Le'Veon Bell,PIT,RB,21,13,13,0.0,0.0,0.0,...,8.87,0.0,1.0,1.0,8,216.9,46.0,14,2013,NaN
43,44,Zac Stacy,STL,RB,22,14,12,0.0,0.0,0.0,...,5.42,1.0,1.0,1.0,8,183.4,31.0,18,2013,NaN
45,46,Keenan Allen,SDG,WR,21,15,14,0.0,0.0,0.0,...,14.73,8.0,2.0,2.0,8,219.6,29.0,17,2013,NaN
47,48,Julian Edelman,NWE,WR,27,16,11,0.0,0.0,0.0,...,10.06,6.0,6.0,0.0,6,251.7,27.0,18,2013,NaN
48,49,Charles Clay,MIA,TE,24,16,15,0.0,0.0,0.0,...,11.00,6.0,0.0,0.0,7,188.4,26.0,7,2013,NaN
585,2,Le'Veon Bell,PIT,RB,22,16,16,0.0,0.0,0.0,...,10.29,3.0,0.0,0.0,11,370.5,167.0,2,2014,NaN
598,15,Odell Beckham Jr.,NYG,WR,22,12,11,0.0,1.0,0.0,...,14.34,12.0,1.0,1.0,12,295.0,82.0,5,2014,NaN
599,16,Justin Forsett,BAL,RB,29,16,14,0.0,0.0,0.0,...,5.98,0.0,1.0,0.0,8,246.9,82.0,8,2014,NaN
608,25,C.J. Anderson,DEN,RB,23,15,7,0.0,0.0,0.0,...,9.53,2.0,1.0,0.0,10,211.3,56.0,11,2014,NaN
623,40,Coby Fleener,IND,TE,26,16,12,0.0,0.0,0.0,...,15.18,8.0,0.0,0.0,8,176.4,35.0,6,2014,NaN
629,46,Matt Asiata,MIN,RB,27,15,9,0.0,0.0,0.0,...,7.09,1.0,1.0,1.0,10,194.2,29.0,16,2014,NaN
1177,8,Odell Beckham Jr.,NYG,WR,23,15,15,0.0,0.0,0.0,...,15.10,13.0,2.0,0.0,13,319.3,94.0,5,2015,NaN
1182,13,Gary Barnidge,CLE,TE,30,16,13,0.0,0.0,0.0,...,13.20,9.0,0.0,0.0,9,237.3,68.0,2,2015,NaN
1205,36,Danny Woodhead,SDG,WR,30,16,2,0.0,0.0,0.0,...,9.44,6.0,0.0,0.0,9,243.1,33.0,14,2015,NaN
1208,39,Blake Bortles,JAX,QB,23,16,16,355.0,606.0,4428.0,...,NaN,0.0,14.0,5.0,2,316.1,32.0,4,2015,NaN
1215,46,Ben Watson,NOR,TE,35,16,16,0.0,0.0,0.0,...,11.15,6.0,1.0,1.0,6,190.5,26.0,8,2015,NaN
1761,5,Le'Veon Bell,PIT,RB,24,12,12,0.0,1.0,0.0,...,8.21,2.0,4.0,1.0,9,317.4,105.0,4,2016,NaN
1771,15,Odell Beckham Jr.,NYG,WR,24,16,16,0.0,0.0,0.0,...,13.53,10.0,3.0,1.0,10,296.6,69.0,4,2016,NaN
1772,16,Jordan Howard,CHI,RB,22,15,13,0.0,0.0,0.0,...,10.28,1.0,2.0,1.0,7,230.1,64.0,9,2016,NaN
1779,23,Davante Adams,GNB,WR,24,16,15,0.0,0.0,0.0,...,13.29,12.0,2.0,1.0,12,246.7,46.0,7,2016,NaN
1784,28,Kyle Rudolph,MIN,TE,27,16,16,0.0,0.0,0.0,...,10.12,7.0,0.0,0.0,7,209.0,39.0,3,2016,NaN
1790,34,Tyreek Hill,KAN,WR,22,16,1,0.0,0.0,0.0,...,9.72,6.0,4.0,1.0,12,217.0,30.0,11,2016,NaN
1793,37,Cameron Brate,TAM,TE,25,15,10,0.0,0.0,0.0,...,11.58,8.0,1.0,0.0,8,171.0,27.0,6,2016,NaN
1801,45,Tyrell Williams,SDG,WR,24,16,12,0.0,0.0,0.0,...,15.35,7.0,0.0,0.0,7,216.9,22.0,14,2016,NaN
2342,2,Le'Veon Bell,PIT,RB,25,15,15,0.0,0.0,0.0,...,7.71,2.0,3.0,2.0,11,341.6,130.0,2,2017,NaN
2369,29,Alex Smith,KAN,QB,33,15,15,341.0,505.0,4042.0,...,NaN,0.0,1.0,1.0,1,295.2,40.0,4,2017,NaN
2377,37,JuJu Smith-Schuster,PIT,WR,21,14,7,0.0,0.0,0.0,...,15.81,7.0,0.0,0.0,8,197.7,29.0,15,2017,NaN
2379,39,Evan Engram,NYG,TE,23,15,11,0.0,0.0,0.0,...,11.28,6.0,0.0,0.0,6,173.6,28.0,5,2017,NaN
2381,41,Robbie Anderson,NYJ,WR,24,16,15,0.0,0.0,0.0,...,14.94,7.0,0.0,0.0,7,200.0,26.0,17,2017,NaN
2387,47,Devin Funchess,CAR,WR,23,16,16,0.0,0.0,0.0,...,13.33,8.0,0.0,0.0,8,195.0,21.0,21,2017,NaN
2388,48,Alex Collins,BAL,RB,23,15,12,0.0,0.0,0.0,...,8.13,0.0,4.0,2.0,6,171.0,21.0,16,2017,NaN
2389,49,Nelson Agholor,PHI,WR,24,16,10,0.0,0.0,0.0,...,12.39,8.0,0.0,0.0,9,193.5,21.0,22,2017,NaN
2966,29,Phillip Lindsay,DEN,RB,24,15,8,0.0,0.0,0.0,...,6.89,1.0,0.0,0.0,10,222.8,52.0,12,2018,NaN
2976,39,Jared Cook,OAK,TE,31,16,14,0.0,0.0,0.0,...,13.18,6.0,0.0,0.0,6,193.6,43.0,5,2018,NaN
2978,41,Odell Beckham Jr.,NYG,WR,26,12,12,2.0,2.0,106.0,...,13.66,6.0,2.0,1.0,6,230.3,37.0,16,2018,NaN
2981,44,Tyler Boyd,CIN,WR,24,14,14,0.0,1.0,0.0,...,13.53,7.0,0.0,0.0,7,221.1,29.0,17,2018,NaN
3582,28,DeVante Parker,MIA,WR,26,16,14,0.0,0.0,0.0,...,16.69,9.0,0.0,0.0,9,246.2,45.0,6,2019,NaN
3588,34,A.J. Brown,TEN,WR,22,16,11,0.0,0.0,0.0,...,20.21,8.0,1.0,0.0,9,217.1,36.0,9,2019,NaN
3600,46,DJ Chark,JAX,WR,23,15,14,0.0,0.0,0.0,...,13.81,8.0,0.0,0.0,8,225.8,24.0,16,2019,NaN
4191,18,James Robinson,JAX,RB,22,14,14,0.0,0.0,0.0,...,7.02,3.0,3.0,1.0,10,250.4,71.0,7,2020,NaN
4202,29,Justin Herbert,LAC,QB,22,15,15,396.0,595.0,4336.0,...,NaN,0.0,8.0,1.0,5,332.8,50.0,9,2020,NaN
4212,39,Robert Tonyan,GNB,TE,26,16,8,0.0,0.0,0.0,...,11.27,11.0,0.0,0.0,11,176.6,34.0,3,2020,NaN
4214,41,Ronald Jones,TAM,RB,23,14,13,0.0,0.0,0.0,...,5.89,1.0,2.0,2.0,8,186.3,28.0,15,2020,NaN
4215,42,Chase Claypool,PIT,WR,22,16,6,0.0,0.0,0.0,...,14.08,9.0,3.0,1.0,11,214.9,27.0,14,2020,NaN
4218,45,Kirk Cousins,MIN,QB,32,16,16,349.0,516.0,4265.0,...,NaN,0.0,9.0,5.0,1,306.2,24.0,11,2020,NaN
4866,35,Dalton Schultz,DAL,TE,25,17,15,0.0,0.0,0.0,...,10.36,8.0,0.0,0.0,8,208.8,37.0,3,2021,NaN
4867,36,Cordarrelle Patterson,ATL,RB,30,16,13,0.0,1.0,0.0,...,10.54,5.0,2.0,0.0,11,234.6,34.0,12,2021,NaN
4869,38,Hunter Renfrow,LVR,WR,26,17,9,0.0,0.0,0.0,...,10.08,9.0,5.0,1.0,9,259.1,32.0,13,2021,NaN
5539,38,Kenneth Walker,SEA,RB,22,15,11,0.0,0.0,0.0,...,6.11,0.0,0.0,0.0,9,202.5,33.0,15,2022,NaN
5544,43,Travis Etienne,JAX,RB,23,17,12,0.0,0.0,0.0,...,9.03,0.0,5.0,3.0,5,205.1,28.0,16,2022,NaN
5549,48,D.K. Metcalf,SEA,WR,25,17,17,0.0,0.0,0.0,...,11.64,6.0,2.0,2.0,6,226.8,21.0,19,2022,NaN
5550,49,D.J. Moore,CAR,WR,25,17,17,0.0,0.0,0.0,...,14.10,7.0,0.0,0.0,7,199.1,20.0,20,2022,NaN

In [179]:
adp[adp.name=='Charles Clay']

       adp          name pos   tm    year
805  134.0  Charles Clay  TE  MIA  2014.0

In [173]:
df.shape, adp.shape

((5529, 29), (2718, 5))

In [165]:
df.isna().sum()

rk                      0
player                  0
team                    0
pos                     0
age                     0
g                       0
gs                      0
cmp                     0
pass_att                0
pass_yds                0
pass_tds                0
int                     0
rush_att                0
rush_yard               0
y/a                  2318
rush_tds                0
tgt                     2
rec                     0
rec_yards               0
y/r                   843
rec_tds                 0
fmb                     0
fl                      0
rush_rec_tds            0
ppr_pts                14
vbd                  4798
pos_rank                0
year                    0
avg_draft_pos_ppr    3589
dtype: int64

In [155]:
df.head()

,rk,player,team,pos,age,g,gs,cmp,pass_att,pass_yds,...,y/r,rec_tds,fmb,fl,rush_rec_tds,ppr_pts,vbd,pos_rank,year,avg_draft_pos_ppr
0,1,Jamaal Charles,KAN,RB,27,15,15,0.0,0.0,0.0,...,9.90,7.0,4.0,2.0,19,378.0,182.0,1,2013,2.0
1,2,LeSean McCoy,PHI,RB,25,16,16,0.0,0.0,0.0,...,10.37,2.0,1.0,1.0,11,330.6,152.0,2,2013,9.0
2,3,Peyton Manning,DEN,QB,37,16,16,450.0,659.0,5477.0,...,NaN,0.0,10.0,6.0,1,410.0,151.0,1,2013,40.0
3,4,Matt Forte,CHI,RB,28,16,16,0.0,0.0,0.0,...,8.03,3.0,2.0,2.0,12,337.3,137.0,3,2013,12.0
4,5,Jimmy Graham,NOR,TE,27,16,12,0.0,0.0,0.0,...,14.13,16.0,0.0,0.0,16,303.5,124.0,1,2013,14.0

In [154]:
df.columns = cols

In [56]:
adp[adp.name=='Christian McCaffrey']

       adp                 name pos   tm    year
1274  24.0  Christian McCaffrey  RB  CAR  2017.0
1447  13.0  Christian McCaffrey  RB  CAR  2018.0
1634   3.0  Christian McCaffrey  RB  CAR  2019.0
1832   1.0  Christian McCaffrey  RB  CAR  2020.0
2035   1.0  Christian McCaffrey  RB  CAR  2021.0
2249   3.0  Christian McCaffrey  RB  CAR  2022.0

In [14]:
df = pd.read_csv('season1.csv',index_col=0)

In [15]:
df.columns

Index(['rk', 'player', 'team', 'pos', 'age', 'g', 'gs', 'cmp', 'pass_att',
       'pass_yds', 'pass_tds', 'int', 'rush_att', 'rush_yard', 'y/a',
       'rush_tds', 'tgt', 'rec', 'rec_yards', 'y/r', 'rec_tds', 'fmb', 'fl',
       'rush_rec_tds', 'ppr_pts', 'vbd', 'pos_rank', 'year', 'adp',
       'adp_by_pos', 'success', 'round'],
      dtype='object')

In [16]:
df = df[['player','pos','age','pos_rank','year','ppr_pts','adp','adp_by_pos','success','round']]

In [35]:
df[(df.pos=='TE')&(df.year==2020)][['player','adp','round','ppr_pts']].sort_values(by='ppr_pts',ascending=False).head(10)

              player    adp  round  ppr_pts
5827    Travis Kelce   21.0    2.0    312.8
5828   Darren Waller   64.0    6.0    278.6
5829    Logan Thomas  350.0   15.0    176.6
5830   Robert Tonyan  350.0   15.0    176.6
5831  T.J. Hockenson  149.0   13.0    175.3
5832    Mark Andrews   43.0    4.0    170.1
5833    Mike Gesicki  153.0   13.0    159.3
5834  Rob Gronkowski   72.0    6.0    149.3
5835       Noah Fant  125.0   11.0    149.3
5836    Hayden Hurst   81.0    7.0    149.1

In [36]:
df[df.pos=='TE'].groupby('adp_by_pos')['ppr_pts'].mean()

adp_by_pos
1      220.176923
2      182.669231
3      169.676923
4      146.369231
5      173.530769
          ...
114     37.100000
115     32.100000
116     24.800000
117     55.800000
118      1.000000
Name: ppr_pts, Length: 118, dtype: float64

In [28]:
df[(df.pos!='RB')&(df.adp>4)&(df.adp<10)].sort_values('ppr_pts', ascending=False)

,player,pos,age,pos_rank,year,ppr_pts,adp,adp_by_pos,success,round
2875,Julio Jones,WR,26,2,2015,375.1,6.0,2,1.0,1.0
6782,Justin Jefferson,WR,23,1,2022,368.7,6.0,2,1.0,1.0
6193,Davante Adams,WR,29,2,2021,344.3,6.0,1,1.0,1.0
2350,Demaryius Thomas,WR,27,2,2014,340.9,7.0,2,1.0,1.0
1055,Tom Brady,QB,35,3,2012,340.3,6.0,2,1.0,1.0
4484,DeAndre Hopkins,WR,26,2,2018,333.5,8.0,2,1.0,1.0
2352,Dez Bryant,WR,26,4,2014,316.0,9.0,3,1.0,1.0
1,Aaron Rodgers,QB,27,2,2010,304.5,7.0,1,1.0,1.0
1819,Calvin Johnson,WR,28,6,2013,303.2,5.0,1,1.0,1.0
764,Roddy White,WR,30,5,2011,277.6,9.0,2,1.0,1.0
5032,DeAndre Hopkins,WR,27,5,2019,268.5,6.0,2,1.0,1.0
2884,Demaryius Thomas,WR,28,11,2015,267.4,9.0,4,0.0,1.0
6420,Travis Kelce,TE,32,2,2021,262.8,8.0,1,1.0,1.0
244,Andre Johnson,WR,29,7,2010,256.6,5.0,1,0.0,1.0
6792,Ja'Marr Chase,WR,22,11,2022,242.4,9.0,3,0.0,1.0
533,Michael Vick,QB,31,11,2011,233.0,8.0,1,0.0,1.0
2538,Jimmy Graham,TE,28,2,2014,229.9,8.0,1,1.0,1.0
5050,Davante Adams,WR,27,23,2019,212.7,5.0,1,0.0,1.0
3965,Mike Evans,WR,24,17,2017,203.1,9.0,3,0.0,1.0
6804,Cooper Kupp,WR,29,23,2022,201.4,5.0,1,0.0,1.0
3433,Allen Robinson,WR,23,25,2016,199.3,9.0,5,0.0,1.0
3435,DeAndre Hopkins,WR,24,27,2016,197.4,7.0,4,0.0,1.0
3442,A.J. Green,WR,28,34,2016,186.4,6.0,3,0.0,1.0
314,Randy Moss,WR,33,77,2010,97.3,8.0,2,0.0,1.0
834,Andre Johnson,WR,30,75,2011,95.0,7.0,1,0.0,1.0
2955,Dez Bryant,WR,27,82,2015,89.1,7.0,3,0.0,1.0
5702,Michael Thomas,WR,27,95,2020,83.9,5.0,1,0.0,1.0

In [23]:
df.groupby(['round','pos'])['ppr_pts'].agg(['mean','min','max'])

                 mean    min    max
round pos
1.0   QB   313.450000  233.0  345.6
      RB   227.743158    9.0  471.2
      TE   249.433333  229.9  262.8
      WR   262.557143   83.9  388.2
2.0   QB   318.200000  130.8  397.4
      RB   208.938806   13.4  385.5
      TE   219.333333   97.0  316.3
      WR   238.117910   12.3  386.9
3.0   QB   287.661538  129.6  402.6
      RB   163.685484    4.5  314.8
      TE   180.291667   75.6  294.6
      WR   215.760000   65.8  335.9
4.0   QB   280.457143   99.1  410.0
      RB   160.364151   43.0  392.0
      TE   186.371429   57.1  280.3
      WR   197.304110   27.1  439.5
5.0   QB   265.372222   91.4  417.4
      RB   128.049020   19.3  250.6
      TE   144.166667   42.1  301.1
      WR   185.596610    2.7  339.2
6.0   QB   279.170968   62.4  380.8
      RB   141.728571    2.0  309.0
      TE   153.938889    8.6  294.0
      WR   174.231579    9.5  328.6
7.0   QB   228.395652   40.7  374.7
      RB   117.405769   -0.2  243.6
      TE   128.058333    9.2  209.5
      WR   159.140426   34.8  304.6
8.0   QB   265.672727   97.2  383.3
      RB   121.314286    6.8  255.6
      TE   139.870588   15.1  220.8
      WR   143.754717   15.2  339.0
9.0   QB   227.145455   12.5  415.7
      RB   136.811364   12.7  316.4
      TE   140.356250   48.5  244.4
      WR   154.850000   20.6  314.4
10.0  QB   250.309524   12.7  355.0
      RB   100.963636    0.9  222.5
      TE   145.292308   54.5  330.9
      WR   123.168000   11.4  241.9
11.0  QB   216.104167   50.5  417.1
      RB   111.265789   16.4  296.6
      TE   133.875000   20.0  214.5
      WR   133.245455    5.3  284.3
12.0  QB   192.340000   64.9  337.8
      RB    81.425000    1.9  231.4
      TE   127.291667   60.4  258.7
      WR   122.507692    2.6  283.6
13.0  QB   189.342857   30.4  347.5
      RB    86.577778    5.4  320.4
      TE   113.412500   11.3  207.2
      WR   109.134483    9.8  226.3
14.0  QB   185.250000   41.4  370.3
      RB    82.386486    0.2  280.0
      TE   122.159259    2.2  223.1
      WR   113.145946    4.3  268.9
15.0  QB    64.586517   -7.3  344.4
      RB    39.549965   -2.8  370.5
      TE    41.517145   -0.2  244.2
      WR    54.376394   -3.3  319.3

In [20]:
df[(df.adp<7)&(df.pos=='QB')]

,player,pos,age,pos_rank,year,ppr_pts,adp,adp_by_pos,success,round
1054,Aaron Rodgers,QB,29,2,2012,344.6,3.0,1,1.0,1.0
1055,Tom Brady,QB,35,3,2012,340.3,6.0,2,1.0,1.0