In [23]:
import pandas as pd
import time
from bs4 import BeautifulSoup
import requests
from playwright.async_api import async_playwright, TimeoutError as PlaywrightTimeout

In [86]:
async def get_html(url, sleep=5, retries=3):
    html = None
    for i in range(1, retries+1):
        time.sleep(sleep * i)
        try:
            async with async_playwright() as p:
                browser = await p.firefox.launch()
                page = await browser.new_page()
                await page.goto(url)
                print(await page.title())
                await page.mouse.wheel(15000,15000)
                time.sleep(2)
                html = await page.innerHTML('body')
        except PlaywrightTimeout:
            print(f"Timeout error on {url}")
            continue
        else:
            break
    return html

In [305]:
df = pd.read_html('https://football.fantasysports.yahoo.com/f1/1/settings')

In [306]:
df[1]

                       Offense        League Value  Yahoo Default Value
0                Passing Yards  25 yards per point                  NaN
1           Passing Touchdowns                   4                  NaN
2                Interceptions                  -1                  NaN
3                Rushing Yards  10 yards per point                  NaN
4           Rushing Touchdowns                   6                  NaN
5                   Receptions                 0.5                  NaN
6              Receiving Yards  10 yards per point                  NaN
7         Receiving Touchdowns                   6                  NaN
8            Return Touchdowns                   6                  NaN
9          2-Point Conversions                   2                  NaN
10                Fumbles Lost                  -2                  NaN
11  Offensive Fumble Return TD                   6                  NaN

In [321]:
a = pd.read_html('https://football.fantasysports.yahoo.com/f1/1003/settings')

In [326]:
a[1].iloc[:,0].name

('Offense', 'Kickers', 'Defense/Special Teams', 'Defensive Players')

In [327]:
b = pd.read_html('https://football.fantasysports.yahoo.com/f1/1/settings')

In [328]:
b[1].iloc[:,0].name

'Offense'

##

In [272]:
df0 = df[0]
int(df0[df0.Setting=='Max Teams:']['Value'].iloc[0])

12

In [273]:
df1 = df[1]

In [320]:
df1.

,Offense,League Value,Yahoo Default Value
,Kickers,League Value,Yahoo Default Value
,Defense/Special Teams,League Value,Yahoo Default Value
,Defensive Players,League Value,Yahoo Default Value
0,Passing Yards,25 yards per point; 7 points at 250 yards,NaN
1,Passing TouchdownsYahoo Default,7,4.0
2,InterceptionsYahoo Default,-2,-1.0
3,SacksYahoo Default,-1,0.0
4,Rushing Yards,10 yards per point; 7 points at 100 yards,NaN
...,...,...,...
65,SafetyYahoo Default,10,2.0
66,Pass DefendedYahoo Default,3,1.0
67,Block KickYahoo Default,5,2.0
68,Tackles for LossYahoo Default,3,0.0
69,Turnover Return Yards,5 yards per point,0.0

In [319]:
df1['Offense']['Kickers']['Defense/Special Teams']

                  Defensive Players
0                     Passing Yards
1   Passing TouchdownsYahoo Default
2        InterceptionsYahoo Default
3                SacksYahoo Default
4                     Rushing Yards
..                              ...
65              SafetyYahoo Default
66       Pass DefendedYahoo Default
67          Block KickYahoo Default
68    Tackles for LossYahoo Default
69            Turnover Return Yards

[70 rows x 1 columns]

In [279]:
df1[df1.iloc[:,0].str.contains('Receptions')].iloc[0,1]

'1'

In [276]:
df1[df1.iloc[:,0]=='Receptions'].iloc[0,1]

IndexError: single positional indexer is out-of-bounds

In [87]:
html = get_html(url)

In [103]:
leagues0 = []

In [140]:
int(df[0].loc[5,"Value"])

10

In [149]:
df[1].loc[5,'League Value']

'0.5'

In [263]:
df1[df1.iloc[:,0]=='Receptions'].iloc[0,1]

'0.5'

In [ ]:
print(df[1]['League Value'].loc[5])

In [369]:
import pandas as pd
import time

def get_yahoo_leagues(beg,num):    
    '''
    Scrape yahoo leagues to determine league id, points format, and teams in league
    Returns a df
    '''
    league_id = []
    league_player_count = []
    league_scoring_format = []
    league_positions = []
    
    for i in range (beg,num+1):
        try:
            df = pd.read_html(f'https://football.fantasysports.yahoo.com/f1/{i}/settings') 
            df0 = df[0]
            df1 = df[1]
            league_id.append(i)
            league_scoring_format.append(df1[df1.iloc[:,0].str.contains('Receptions')].iloc[0,1])
            league_player_count.append(int(df0[df0.Setting=='Max Teams:']['Value'].iloc[0]))
            league_positions.append(df[1].iloc[:,0].name)
          
        except:
            pass

        time.sleep(5)

    return pd.DataFrame({'id':league_id,
                         'player_count':league_player_count,'format':league_scoring_format,
                         'positions':league_positions})

In [374]:
leagues = []

In [414]:
df = get_yahoo_leagues(1290,1300)

In [415]:
df

Empty DataFrame
Columns: [id, player_count, format, positions]
Index: []

In [411]:
leagues.append(df)

In [406]:
len(leagues)

8

In [407]:
len(leagues)

8

In [408]:
pd.concat(leagues)

        id  player_count format                                  positions
0      5.0          10.0    0.5                                    Offense
0   1200.0          10.0    0.5  (Offense, Kickers, Defense/Special Teams)
1   1203.0          10.0    0.5  (Offense, Kickers, Defense/Special Teams)
2   1204.0          12.0     .5  (Offense, Kickers, Defense/Special Teams)
3   1205.0          10.0    0.5  (Offense, Kickers, Defense/Special Teams)
4   1207.0          12.0     .5  (Offense, Kickers, Defense/Special Teams)
5   1208.0          10.0    0.5  (Offense, Kickers, Defense/Special Teams)
6   1209.0          10.0    0.5  (Offense, Kickers, Defense/Special Teams)
7   1211.0          10.0    0.5  (Offense, Kickers, Defense/Special Teams)
8   1212.0          10.0    0.5  (Offense, Kickers, Defense/Special Teams)
9   1213.0          10.0    0.5  (Offense, Kickers, Defense/Special Teams)
10  1214.0          10.0    0.5  (Offense, Kickers, Defense/Special Teams)
11  1216.0          10.0    0.5  (Offense, Kickers, Defense/Special Teams)
12  1217.0          10.0    0.5  (Offense, Kickers, Defense/Special Teams)
13  1219.0          10.0    0.5  (Offense, Kickers, Defense/Special Teams)
0   1224.0          10.0    0.5  (Offense, Kickers, Defense/Special Teams)
1   1227.0          16.0      1      (Offense, Kickers, Defensive Players)
2   1229.0          10.0    0.5  (Offense, Kickers, Defense/Special Teams)
3   1231.0          10.0    0.5  (Offense, Kickers, Defense/Special Teams)
0   1233.0          10.0    0.5  (Offense, Kickers, Defense/Special Teams)
1   1234.0          16.0      1      (Offense, Kickers, Defensive Players)
2   1235.0          10.0    0.5  (Offense, Kickers, Defense/Special Teams)
3   1237.0          10.0    0.5  (Offense, Kickers, Defense/Special Teams)
4   1238.0          10.0    0.5  (Offense, Kickers, Defense/Special Teams)
5   1239.0          10.0    0.5  (Offense, Kickers, Defense/Special Teams)