In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('season1.csv',index_col=0)

In [11]:
def clean_separate_df(df):
    all_players = df[df.year==2010][['player','pos','adp','ppr_pts']].sort_values('adp').reset_index(drop=True)
    qb = all_players[all_players.pos=='QB']
    rb = all_players[all_players.pos=='RE']
    wr = all_players[all_players.pos=='WR']
    te = all_players[all_players.pos=='TE']
    return all_players, qb, rb, wr, te

In [12]:
all_players, qb, rb, wr, te = clean_separate_df(df)

In [32]:
class Cheatsheet:
    def __init__(self, all_players, qb, rb, wr, te):
        self.all_players = all_players
        self.qb = qb
        self.rb = rb
        self.wr = wr
        self.te = te
        
class Team_owner:
    def __init__(self, strategy, team = []):
        self.strategy = strategy
        self.team = team

In [24]:
cheat = Cheatsheet(all_players, qb, rb, wr, te)

In [31]:
cheat.all_players

                 player pos    adp  ppr_pts
0         Chris Johnson  RB    1.0    272.9
1       Adrian Peterson  RB    2.0    275.9
2              Ray Rice  RB    3.0    276.6
3    Maurice Jones-Drew  RB    4.0    234.1
4         Andre Johnson  WR    5.0    256.6
..                  ...  ..    ...      ...
518        Josh Vaughan  RB  350.0      6.7
519            Mike Cox  RB  350.0      6.7
520    Gartrell Johnson  RB  350.0      7.2
521     Quinton Ganther  RB  350.0      4.7
522        Dennis Pitta  TE  350.0      1.1

[523 rows x 4 columns]

In [26]:
cheat.all_players

                 player pos    adp  ppr_pts
0         Chris Johnson  RB    1.0    272.9
1       Adrian Peterson  RB    2.0    275.9
2              Ray Rice  RB    3.0    276.6
3    Maurice Jones-Drew  RB    4.0    234.1
4         Andre Johnson  WR    5.0    256.6
..                  ...  ..    ...      ...
518        Josh Vaughan  RB  350.0      6.7
519            Mike Cox  RB  350.0      6.7
520    Gartrell Johnson  RB  350.0      7.2
521     Quinton Ganther  RB  350.0      4.7
522        Dennis Pitta  TE  350.0      1.1

[523 rows x 4 columns]

In [ ]:
class Card:
    def __init__(self, suit, rank):
        self.suit = suit
        self.rank = rank
        self.value = values[rank]
    def __str__(self):
        return f'{self.rank} of {self.suit}'

class Deck:
    def __init__(self):
        self.allcards = []
        for s in suits:
            for r in ranks:
                self.allcards.append(Card(s,r))
    
    def shuffle(self):
        random.shuffle(self.allcards)
        
    def deal_one(self):
        return self.allcards.pop(0)