In [1]:
import pandas as pd
import numpy as np

In [ ]:
def get_pass_data():
    
    pa18w1 = pd.read_csv('18paweek1 - Sheet1.csv')
    pa18w2 = pd.read_csv('18paweek2 - Sheet1.csv')
    pa18w3 = pd.read_csv('18paweek3 - Sheet1.csv')
    pa18w4 = pd.read_csv('18paweek4 - Sheet1.csv')
    pa18w5 = pd.read_csv('18paweek5 - Sheet1.csv')
    pa18w6 = pd.read_csv('18paweek6 - Sheet1.csv')
    pa18w7 = pd.read_csv('18paweek7 - Sheet1.csv')
    pa18w8 = pd.read_csv('18paweek8 - Sheet1.csv')
    pa18w9 = pd.read_csv('18paweek9 - Sheet1.csv')
    pa18w10 = pd.read_csv('18paweek10 - Sheet1.csv')
    pa18w11 = pd.read_csv('18paweek11 - Sheet1.csv')
    pa18w12 = pd.read_csv('18paweek12 - Sheet1.csv')
    pa18w13 = pd.read_csv('18paweek13 - Sheet1.csv')
    pa18w14 = pd.read_csv('18paweek14 - Sheet1.csv')
    pa18w15 = pd.read_csv('18paweek15 - Sheet1.csv')
    pa18w16 = pd.read_csv('18paweek16 - Sheet1.csv')

    
    return pa18w1, pa18w2, pa18w3, pa18w4, pa18w5, pa18w6, pa18w7, pa18w8, pa18w9, pa18w10, pa18w11, pa18w12, pa18w13, pa18w14, pa18w15, pa18w16

In [ ]:
pass_df = (pa18w1, pa18w2, pa18w3, pa18w4, 
           pa18w5, pa18w6, pa18w7, pa18w8, 
           pa18w9, pa18w10, pa18w11, pa18w12, 
           pa18w13, pa18w14, pa18w15, pa18w16) = get_pass_data()

In [ ]:
df_pass_18_w1 = pd.concat(pass_df)

In [ ]:
def pass_df_clean(df):
    
    bad_cols = ['-9999', 'Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 
            'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 11', 'Unnamed: 12', 
            'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 
            'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 
            'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 
            'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33']
    
    df = df.drop(columns = bad_cols)
    
    drops = ['G#', 'Date', 'Rate.1', 'Yds.1', 'Sk', 'Sk%', 'Y/A', 'AY/A', 'ANY/A', 'Y/C', 
             'Cmp%', 'Unnamed: 10', 'Pick6', 'TD%', 'Int%', 'Att', 'Rate', 'Cmp', 'Att.1', 'Inc']
    
    df = df.drop(columns = drops)
    
    df['pts'] = (df['Yds'] / 25) + (df['TD'] * 4) + (df['Int'] * -2)
    
    return df

In [ ]:
pass_df_clean(df_pass_18_w1)

In [ ]:
df18_pass = df_pass_18_w1.to_csv('df18_pass.csv')

In [ ]:
def get_rec_data():
    
    rc18w1 = pd.read_csv('18rcweek1 - Sheet1.csv')
    rc18w2 = pd.read_csv('18rcweek2 - Sheet1.csv')
    rc18w3 = pd.read_csv('18rcweek3 - Sheet1.csv')
    rc18w4 = pd.read_csv('18rcweek4 - Sheet1.csv')
    rc18w5 = pd.read_csv('18rcweek5 - Sheet1.csv')
    rc18w6 = pd.read_csv('18rcweek6 - Sheet1.csv')
    rc18w7 = pd.read_csv('18rcweek7 - Sheet1.csv')
    rc18w8 = pd.read_csv('18rcweek8 - Sheet1.csv')
    rc18w9 = pd.read_csv('18rcweek9 - Sheet1.csv')
    rc18w10 = pd.read_csv('18rcweek10 - Sheet1.csv')
    rc18w11 = pd.read_csv('18rcweek11 - Sheet1.csv')
    rc18w12 = pd.read_csv('18rcweek12 - Sheet1.csv')
    rc18w13 = pd.read_csv('18rcweek13 - Sheet1.csv')
    rc18w14 = pd.read_csv('18rcweek14 - Sheet1.csv')
    rc18w15 = pd.read_csv('18rcweek15 - Sheet1.csv')
    rc18w16 = pd.read_csv('18rcweek16 - Sheet1.csv')

    
    return rc18w1, rc18w2, rc18w3, rc18w4, rc18w5, rc18w6, rc18w7, rc18w8, rc18w9, rc18w10, rc18w11, rc18w12, rc18w13, rc18w14, rc18w15, rc18w16

In [ ]:
rec_df = (rc18w1, rc18w2, rc18w3, rc18w4, 
          rc18w5, rc18w6, rc18w7, rc18w8, 
          rc18w9, rc18w10, rc18w11, rc18w12, 
          rc18w13, rc18w14, rc18w15, rc18w16) = get_rec_data()

In [ ]:
df_rec_18_w1 = pd.concat(rec_df)

In [ ]:
df18_rec = df_rec_18_w1.to_csv('df18_rec.csv')

In [ ]:
bad_rc_cols = ['-9999', 'Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
            'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
            'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
            'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
            'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
            'Unnamed: 23']

In [ ]:
#df_receiving_18_w1 = df_receiving_18_w1.drop(columns = bad_rc_cols)

In [ ]:
df_rec_18_w1['pts'] = (df_rec_18_w1['Yds'] / 10) + (df_rec_18_w1['TD'] * 6) + (df_rec_18_w1['Rec'] * 1)

In [ ]:
df_rec_18_w1

In [ ]:
rec18drops = ['G#', '-9999', '1D', 'Yds.1', 'Y/R', 'Ctch%', 'Y/Tgt', 'Date', 'Unnamed: 10', 'Tgt.1']

In [ ]:
df_rec_18_w1 = df_rec_18_w1.drop(columns = rec18drops)

In [ ]:
df_rec_18_w1

In [ ]:
def get_rush_data():
    
    ru18w1 = pd.read_csv('18ruweek1 - Sheet1.csv')
    ru18w2 = pd.read_csv('18ruweek2 - Sheet1.csv')
    ru18w3 = pd.read_csv('18ruweek3 - Sheet1.csv')
    ru18w4 = pd.read_csv('18ruweek4 - Sheet1.csv')
    ru18w5 = pd.read_csv('18ruweek5 - Sheet1.csv')
    ru18w6 = pd.read_csv('18ruweek6 - Sheet1.csv')
    ru18w7 = pd.read_csv('18ruweek7 - Sheet1.csv')
    ru18w8 = pd.read_csv('18ruweek8 - Sheet1.csv')
    ru18w9 = pd.read_csv('18ruweek9 - Sheet1.csv')
    ru18w10 = pd.read_csv('18ruweek10 - Sheet1.csv')
    ru18w11 = pd.read_csv('18ruweek11 - Sheet1.csv')
    ru18w12 = pd.read_csv('18ruweek12 - Sheet1.csv')
    ru18w13 = pd.read_csv('18ruweek13 - Sheet1.csv')
    ru18w14 = pd.read_csv('18ruweek14 - Sheet1.csv')
    ru18w15 = pd.read_csv('18ruweek15 - Sheet1.csv')
    ru18w16 = pd.read_csv('18ruweek16 - Sheet1.csv')

    
    return ru18w1, ru18w2, ru18w3, ru18w4, ru18w5, ru18w6, ru18w7, ru18w8, ru18w9, ru18w10, ru18w11, ru18w12, ru18w13, ru18w14, ru18w15, ru18w16

In [ ]:
rush_df = (ru18w1, ru18w2, ru18w3, ru18w4, 
 ru18w5, ru18w6, ru18w7, ru18w8, 
 ru18w9, ru18w10, ru18w11, ru18w12, 
 ru18w13, ru18w14, ru18w15, ru18w16) = get_rush_data()

In [ ]:
df_rush_18_w1 = pd.concat(rush_df)

In [ ]:
df18_rush = df_rush_18_w1.to_csv('df18_rush.csv')

In [ ]:
df_rush_18_w1.columns

In [ ]:
bad_ru_cols = ['-9999', 'Unnamed: 0', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20']

In [ ]:
df_rush_18_w1 = df_rush_18_w1.drop(columns = bad_ru_cols)

In [ ]:
df_rush_18_w1['pts'] = (df_rush_18_w1['Yds'] / 10) + (df_rush_18_w1['TD'] * 6)

In [ ]:
df_rush_18_w1

>>>>>>> # 2019

In [ ]:
def get_pass_data19():
    
    pa19w1 = pd.read_csv('19paweek1 - Sheet1.csv')
    pa19w2 = pd.read_csv('19paweek2 - Sheet1.csv')
    pa19w3 = pd.read_csv('19paweek3 - Sheet1.csv')
    pa19w4 = pd.read_csv('19paweek4 - Sheet1.csv')
    pa19w5 = pd.read_csv('19paweek5 - Sheet1.csv')
    pa19w6 = pd.read_csv('19paweek6 - Sheet1.csv')
    pa19w7 = pd.read_csv('19paweek7 - Sheet1.csv')
    pa19w8 = pd.read_csv('19paweek8 - Sheet1.csv')
    pa19w9 = pd.read_csv('19paweek9 - Sheet1.csv')
    pa19w10 = pd.read_csv('19paweek10 - Sheet1.csv')
    pa19w11 = pd.read_csv('19paweek11 - Sheet1.csv')
    pa19w12 = pd.read_csv('19paweek12 - Sheet1.csv')
    pa19w13 = pd.read_csv('19paweek13 - Sheet1.csv')
    pa19w14 = pd.read_csv('19paweek14 - Sheet1.csv')
    pa19w15 = pd.read_csv('19paweek15 - Sheet1.csv')
    pa19w16 = pd.read_csv('19paweek16 - Sheet1.csv')

    
    return pa19w1, pa19w2, pa19w3, pa19w4, pa19w5, pa19w6, pa19w7, pa19w8, pa19w9, pa19w10, pa19w11, pa19w12, pa19w13, pa19w14, pa19w15, pa19w16

In [ ]:
pass_df = (pa19w1, pa19w2, pa19w3, pa19w4, pa19w5, pa19w6, 
 pa19w7, pa19w8, pa19w9, pa19w10, pa19w11, pa19w12, 
 pa19w13, pa19w14, pa19w15, pa19w16) = get_pass_data19()

In [ ]:
df_pass_19_w1 = pd.concat(pass_df)

In [ ]:
df19_pass = df_pass_19_w1.to_csv('df19_pass.csv')

In [ ]:
def clean_df_pass19(df):
    
    drops = ['-9999', 'G#', 'Date', 'Rate.1', 'Yds.1', 'Sk', 'Sk%', 'Y/A', 'AY/A', 'ANY/A', 'Y/C', 
             'Cmp%', 'Unnamed: 10', 'Pick6', 'TD%', 'Int%', 'Att', 'Rate', 'Cmp', 'Att.1', 'Inc']
    
    df = df.drop(columns = drops)
    
    df['pts'] = (df['Yds'] / 25) + (df['TD'] * 4) + (df['Int'] * -2)
    
    return df

In [ ]:
clean_df_pass19(df_pass_19_w1)

In [ ]:
def get_rec_data19():
    
    rc19w1 = pd.read_csv('19rcweek1 - Sheet1.csv')
    rc19w2 = pd.read_csv('19rcweek2 - Sheet1.csv')
    rc19w3 = pd.read_csv('19rcweek3 - Sheet1.csv')
    rc19w4 = pd.read_csv('19rcweek4 - Sheet1.csv')
    rc19w5 = pd.read_csv('19rcweek5 - Sheet1.csv')
    rc19w6 = pd.read_csv('19rcweek6 - Sheet1.csv')
    rc19w7 = pd.read_csv('19rcweek7 - Sheet1.csv')
    rc19w8 = pd.read_csv('19rcweek8 - Sheet1.csv')
    rc19w9 = pd.read_csv('19rcweek9 - Sheet1.csv')
    rc19w10 = pd.read_csv('19rcweek10 - Sheet1.csv')
    rc19w11 = pd.read_csv('19rcweek11 - Sheet1.csv')
    rc19w12 = pd.read_csv('19rcweek12 - Sheet1.csv')
    rc19w13 = pd.read_csv('19rcweek13 - Sheet1.csv')
    rc19w14 = pd.read_csv('19rcweek14 - Sheet1.csv')
    rc19w15 = pd.read_csv('19rcweek15 - Sheet1.csv')
    rc19w16 = pd.read_csv('19rcweek16 - Sheet1.csv')

    
    return rc19w1, rc19w2, rc19w3, rc19w4, rc19w5, rc19w6, rc19w7, rc19w8, rc19w9, rc19w10, rc19w11, rc19w12, rc19w13, rc19w14, rc19w15, rc19w16

In [ ]:
rec_df = (rc19w1, rc19w2, rc19w3, rc19w4, 
          rc19w5, rc19w6, rc19w7, rc19w8, 
          rc19w9, rc19w10, rc19w11, rc19w12, 
          rc19w13, rc19w14, rc19w15, rc19w16) = get_rec_data19()

In [ ]:
df_rec_19_w1 = pd.concat(rec_df)

In [ ]:
df19_rec = df_rec_19_w1.to_csv('df19_rec.csv')

In [ ]:
df_rec_19_w1['pts'] = (df_rec_19_w1['Yds'] / 10) + (df_rec_19_w1['TD'] * 6) + (df_rec_19_w1['Rec'] * 1)

In [ ]:
rec19drops = ['G#', '-9999', '1D', 'Yds.1', 'Y/R', 'Ctch%', 'Y/Tgt', 'Date', 'Unnamed: 10', 'Tgt.1']

In [ ]:
df_rec_19_w1 = df_rec_19_w1.drop(columns = rec19drops)

In [ ]:
df_rec_19_w1

In [ ]:
def get_rush_data19():
    
    ru19w1 = pd.read_csv('19ruweek1 - Sheet1.csv')
    ru19w2 = pd.read_csv('19ruweek2 - Sheet1.csv')
    ru19w3 = pd.read_csv('19ruweek3 - Sheet1.csv')
    ru19w4 = pd.read_csv('19ruweek4 - Sheet1.csv')
    ru19w5 = pd.read_csv('19ruweek5 - Sheet1.csv')
    ru19w6 = pd.read_csv('19ruweek6 - Sheet1.csv')
    ru19w7 = pd.read_csv('19ruweek7 - Sheet1.csv')
    ru19w8 = pd.read_csv('19ruweek8 - Sheet1.csv')
    ru19w9 = pd.read_csv('19ruweek9 - Sheet1.csv')
    ru19w10 = pd.read_csv('19ruweek10 - Sheet1.csv')
    ru19w11 = pd.read_csv('19ruweek11 - Sheet1.csv')
    ru19w12 = pd.read_csv('19ruweek12 - Sheet1.csv')
    ru19w13 = pd.read_csv('19ruweek13 - Sheet1.csv')
    ru19w14 = pd.read_csv('19ruweek14 - Sheet1.csv')
    ru19w15 = pd.read_csv('19ruweek15 - Sheet1.csv')
    ru19w16 = pd.read_csv('19ruweek16 - Sheet1.csv')

    
    return ru19w1, ru19w2, ru19w3, ru19w4, ru19w5, ru19w6, ru19w7, ru19w8, ru19w9, ru19w10, ru19w11, ru19w12, ru19w13, ru19w14, ru19w15, ru19w16

In [ ]:
rush_df = (ru19w1, ru19w2, ru19w3, ru19w4, 
           ru19w5, ru19w6, ru19w7, ru19w8, 
           ru19w9, ru19w10, ru19w11, ru19w12, 
           ru19w13, ru19w14, ru19w15, ru19w16) = get_rush_data19()

In [ ]:
df_rush_19_w1 = pd.concat(rush_df)

In [ ]:
df19_rush = df_rush_19_w1.to_csv('df19_rush.csv')

In [ ]:
rush19drop = ['-9999', 'G#', 'Att', 'Att.1', 'Yds.1', 'Y/A', '1D', 'Unnamed: 10', 'Date']

In [ ]:
df_rush_19_w1 = df_rush_19_w1.drop(columns = rush19drop)

In [ ]:
df_rush_19_w1['pts'] = (df_rush_19_w1['Yds'] / 10) + (df_rush_19_w1['TD'] * 6)

In [ ]:
df_rush_19_w1

>>>>>>> # 2020

In [ ]:
def get_pass_data20():
    
    pa20w1 = pd.read_csv('20paweek1 - Sheet1.csv')
    pa20w2 = pd.read_csv('20paweek2 - Sheet1.csv')
    pa20w3 = pd.read_csv('20paweek3 - Sheet1.csv')
    pa20w4 = pd.read_csv('20paweek4 - Sheet1.csv')
    pa20w5 = pd.read_csv('20paweek5 - Sheet1.csv')
    pa20w6 = pd.read_csv('20paweek6 - Sheet1.csv')
    pa20w7 = pd.read_csv('20paweek7 - Sheet1.csv')
    pa20w8 = pd.read_csv('20paweek8 - Sheet1.csv')
    pa20w9 = pd.read_csv('20paweek9 - Sheet1.csv')
    pa20w10 = pd.read_csv('20paweek10 - Sheet1.csv')
    pa20w11 = pd.read_csv('20paweek11 - Sheet1.csv')
    pa20w12 = pd.read_csv('20paweek12 - Sheet1.csv')
    pa20w13 = pd.read_csv('20paweek13 - Sheet1.csv')
    pa20w14 = pd.read_csv('20paweek14 - Sheet1.csv')
    pa20w15 = pd.read_csv('20paweek15 - Sheet1.csv')
    pa20w16 = pd.read_csv('20paweek16 - Sheet1.csv')

    
    return pa20w1, pa20w2, pa20w3, pa20w4, pa20w5, pa20w6, pa20w7, pa20w8, pa20w9, pa20w10, pa20w11, pa20w12, pa20w13, pa20w14, pa20w15, pa20w16

In [ ]:
pass_df = (pa20w1, pa20w2, pa20w3, pa20w4, pa20w5, 
           pa20w6, pa20w7, pa20w8, pa20w9, pa20w10, 
           pa20w11, pa20w12, pa20w13, pa20w14, pa20w15, 
           pa20w16) = get_pass_data()

In [ ]:
df_pass_20_w1 = pd.concat(pass_df)

In [ ]:
df_pass_20_w1['pts'] = (df_pass_20_w1['Yds'] / 25) + (df_pass_20_w1['TD'] * 4) + (df_pass_20_w1['Int'] * -2)

In [ ]:
df_pass_20_w1

In [ ]:
df20_pass = df_pass_20_w1.to_csv('df20_pass.csv')

In [ ]:
def get_rec_data20():
    
    rc20w1 = pd.read_csv('20rcweek1 - Sheet1.csv')
    rc20w2 = pd.read_csv('20rcweek2 - Sheet1.csv')
    rc20w3 = pd.read_csv('20rcweek3 - Sheet1.csv')
    rc20w4 = pd.read_csv('20rcweek4 - Sheet1.csv')
    rc20w5 = pd.read_csv('20rcweek5 - Sheet1.csv')
    rc20w6 = pd.read_csv('20rcweek6 - Sheet1.csv')
    rc20w7 = pd.read_csv('20rcweek7 - Sheet1.csv')
    rc20w8 = pd.read_csv('20rcweek8 - Sheet1.csv')
    rc20w9 = pd.read_csv('20rcweek9 - Sheet1.csv')
    rc20w10 = pd.read_csv('20rcweek10 - Sheet1.csv')
    rc20w11 = pd.read_csv('20rcweek11 - Sheet1.csv')
    rc20w12 = pd.read_csv('20rcweek12 - Sheet1.csv')
    rc20w13 = pd.read_csv('20rcweek13 - Sheet1.csv')
    rc20w14 = pd.read_csv('20rcweek14 - Sheet1.csv')
    rc20w15 = pd.read_csv('20rcweek15 - Sheet1.csv')
    rc20w16 = pd.read_csv('20rcweek16 - Sheet1.csv')

    
    return rc20w1, rc20w2, rc20w3, rc20w4, rc20w5, rc20w6, rc20w7, rc20w8, rc20w9, rc20w10, rc20w11, rc20w12, rc20w13, rc20w14, rc20w15, rc20w16

In [ ]:
rec_df20 = (rc20w1, rc20w2, rc20w3, rc20w4, rc20w5, 
            rc20w6, rc20w7, rc20w8, rc20w9, rc20w10, 
            rc20w11, rc20w12, rc20w13, rc20w14, rc20w15, 
            rc20w16) = get_rec_data20()

In [ ]:
df_rec_20_w1 = pd.concat(rec_df20)

In [ ]:
df_rec_20_w1['pts'] = (df_rec_20_w1['Yds'] / 10) + (df_rec_20_w1['TD'] * 6) + (df_rec_20_w1['Rec'] * 1)

In [ ]:
df20_rec = df_rec_20_w1.to_csv('df20_rec.csv')

In [ ]:
def get_rush_data20():
    
    ru20w1 = pd.read_csv('20ruweek1 - Sheet1.csv')
    ru20w2 = pd.read_csv('20ruweek2 - Sheet1.csv')
    ru20w3 = pd.read_csv('20ruweek3 - Sheet1.csv')
    ru20w4 = pd.read_csv('20ruweek4 - Sheet1.csv')
    ru20w5 = pd.read_csv('20ruweek5 - Sheet1.csv')
    ru20w6 = pd.read_csv('20ruweek6 - Sheet1.csv')
    ru20w7 = pd.read_csv('20ruweek7 - Sheet1.csv')
    ru20w8 = pd.read_csv('20ruweek8 - Sheet1.csv')
    ru20w9 = pd.read_csv('20ruweek9 - Sheet1.csv')
    ru20w10 = pd.read_csv('20ruweek10 - Sheet1.csv')
    ru20w11 = pd.read_csv('20ruweek11 - Sheet1.csv')
    ru20w12 = pd.read_csv('20ruweek12 - Sheet1.csv')
    ru20w13 = pd.read_csv('20ruweek13 - Sheet1.csv')
    ru20w14 = pd.read_csv('20ruweek14 - Sheet1.csv')
    ru20w15 = pd.read_csv('20ruweek15 - Sheet1.csv')
    ru20w16 = pd.read_csv('20ruweek16 - Sheet1.csv')

    
    return ru20w1, ru20w2, ru20w3, ru20w4, ru20w5, ru20w6, ru20w7, ru20w8, ru20w9, ru20w10, ru20w11, ru20w12, ru20w13, ru20w14, ru20w15, ru20w16

In [ ]:
rush_df20 = (ru20w1, ru20w2, ru20w3, ru20w4, ru20w5, 
             ru20w6, ru20w7, ru20w8, ru20w9, ru20w10, 
             ru20w11, ru20w12, ru20w13, ru20w14, ru20w15, 
             ru20w16) = get_rush_data20()

In [ ]:
df_rush_20_w1 = pd.concat(rush_df20)

In [ ]:
df_rush_20_w1['pts'] = (df_rush_20_w1['Yds'] / 10) + (df_rush_20_w1['TD'] * 6)

In [ ]:
df20_rush = df_rush_20_w1.to_csv('df20_rush.csv')

>>>>>>> # 2021

In [ ]:
def get_pass_data21():
    
    pa21w1 = pd.read_csv('21paweek1 - Sheet1.csv')
    pa21w2 = pd.read_csv('21paweek2 - Sheet1.csv')
    pa21w3 = pd.read_csv('21paweek3 - Sheet1.csv')
    pa21w4 = pd.read_csv('21paweek4 - Sheet1.csv')
    pa21w5 = pd.read_csv('21paweek5 - Sheet1.csv')
    pa21w6 = pd.read_csv('21paweek6 - Sheet1.csv')
    pa21w7 = pd.read_csv('21paweek7 - Sheet1.csv')
    pa21w8 = pd.read_csv('21paweek8 - Sheet1.csv')
    pa21w9 = pd.read_csv('21paweek9 - Sheet1.csv')
    pa21w10 = pd.read_csv('21paweek10 - Sheet1.csv')
    pa21w11 = pd.read_csv('21paweek11 - Sheet1.csv')
    pa21w12 = pd.read_csv('21paweek12 - Sheet1.csv')
    pa21w13 = pd.read_csv('21paweek13 - Sheet1.csv')
    pa21w14 = pd.read_csv('21paweek14 - Sheet1.csv')
    pa21w15 = pd.read_csv('21paweek15 - Sheet1.csv')
    pa21w16 = pd.read_csv('21paweek16 - Sheet1.csv')
    pa21w17 = pd.read_csv('21paweek17 - Sheet1.csv')


    
    return pa21w1, pa21w2, pa21w3, pa21w4, pa21w5, pa21w6, pa21w7, pa21w8, pa21w9, pa21w10, pa21w11, pa21w12, pa21w13, pa21w14, pa21w15, pa21w16, pa21w17

In [ ]:
pass_df21 = (pa21w1, pa21w2, pa21w3, pa21w4, pa21w5, 
             pa21w6, pa21w7, pa21w8, pa21w9, pa21w10, 
             pa21w11, pa21w12, pa21w13, pa21w14, pa21w15, 
             pa21w16, pa21w17) = get_pass_data21()

In [ ]:
df_pass_21_w1 = pd.concat(pass_df21)

In [ ]:
df_pass_21_w1['pts'] = (df_pass_21_w1['Yds'] / 25) + (df_pass_21_w1['TD'] * 4) + (df_pass_21_w1['Int'] * -2)

In [ ]:
df21_pass = df_pass_21_w1.to_csv('df21_pass.csv')

In [ ]:
def get_rec_data21():
    
    rc21w1 = pd.read_csv('21rcweek1 - Sheet1.csv')
    rc21w2 = pd.read_csv('21rcweek2 - Sheet1.csv')
    rc21w3 = pd.read_csv('21rcweek3 - Sheet1.csv')
    rc21w4 = pd.read_csv('21rcweek4 - Sheet1.csv')
    rc21w5 = pd.read_csv('21rcweek5 - Sheet1.csv')
    rc21w6 = pd.read_csv('21rcweek6 - Sheet1.csv')
    rc21w7 = pd.read_csv('21rcweek7 - Sheet1.csv')
    rc21w8 = pd.read_csv('21rcweek8 - Sheet1.csv')
    rc21w9 = pd.read_csv('21rcweek9 - Sheet1.csv')
    rc21w10 = pd.read_csv('21rcweek10 - Sheet1.csv')
    rc21w11 = pd.read_csv('21rcweek11 - Sheet1.csv')
    rc21w12 = pd.read_csv('21rcweek12 - Sheet1.csv')
    rc21w13 = pd.read_csv('21rcweek13 - Sheet1.csv')
    rc21w14 = pd.read_csv('21rcweek14 - Sheet1.csv')
    rc21w15 = pd.read_csv('21rcweek15 - Sheet1.csv')
    rc21w16 = pd.read_csv('21rcweek16 - Sheet1.csv')
    rc21w17 = pd.read_csv('21rcweek17 - Sheet1.csv')


    
    return rc21w1, rc21w2, rc21w3, rc21w4, rc21w5, rc21w6, rc21w7, rc21w8, rc21w9, rc21w10, rc21w11, rc21w12, rc21w13, rc21w14, rc21w15, rc21w16, rc21w17

In [ ]:
rec_df21 = (rc21w1, rc21w2, rc21w3, rc21w4, rc21w5, 
            rc21w6, rc21w7, rc21w8, rc21w9, rc21w10, 
            rc21w11, rc21w12, rc21w13, rc21w14, rc21w15, 
            rc21w16, rc21w17) = get_rec_data21()

In [ ]:
df_rec_21_w1 = pd.concat(rec_df21)

In [ ]:
df_rec_21_w1['pts'] = (df_rec_21_w1['Yds'] / 10) + (df_rec_21_w1['TD'] * 6) + (df_rec_21_w1['Rec'] * 1)

In [ ]:
df21_rec = df_rec_21_w1.to_csv('df21_rec.csv')

In [ ]:
def get_rush_data21():
    
    ru21w1 = pd.read_csv('21ruweek1 - Sheet1.csv')
    ru21w2 = pd.read_csv('21ruweek2 - Sheet1.csv')
    ru21w3 = pd.read_csv('21ruweek3 - Sheet1.csv')
    ru21w4 = pd.read_csv('21ruweek4 - Sheet1.csv')
    ru21w5 = pd.read_csv('21ruweek5 - Sheet1.csv')
    ru21w6 = pd.read_csv('21ruweek6 - Sheet1.csv')
    ru21w7 = pd.read_csv('21ruweek7 - Sheet1.csv')
    ru21w8 = pd.read_csv('21ruweek8 - Sheet1.csv')
    ru21w9 = pd.read_csv('21ruweek9 - Sheet1.csv')
    ru21w10 = pd.read_csv('21ruweek10 - Sheet1.csv')
    ru21w11 = pd.read_csv('21ruweek11 - Sheet1.csv')
    ru21w12 = pd.read_csv('21ruweek12 - Sheet1.csv')
    ru21w13 = pd.read_csv('21ruweek13 - Sheet1.csv')
    ru21w14 = pd.read_csv('21ruweek14 - Sheet1.csv')
    ru21w15 = pd.read_csv('21ruweek15 - Sheet1.csv')
    ru21w16 = pd.read_csv('21ruweek16 - Sheet1.csv')
    ru21w17 = pd.read_csv('21ruweek17 - Sheet1.csv')

    
    return ru21w1, ru21w2, ru21w3, ru21w4, ru21w5, ru21w6, ru21w7, ru21w8, ru21w9, ru21w10, ru21w11, ru21w12, ru21w13, ru21w14, ru21w15, ru21w16, ru21w17

In [ ]:
rush_df21 = (ru21w1, ru21w2, ru21w3, ru21w4, ru21w5, 
             ru21w6, ru21w7, ru21w8, ru21w9, ru21w10, 
             ru21w11, ru21w12, ru21w13, ru21w14, ru21w15, 
             ru21w16, ru21w17) = get_rush_data21()

In [ ]:
df_rush_21_w1 = pd.concat(rush_df21)

In [ ]:
df_rush_21_w1['pts'] = (df_rush_21_w1['Yds'] / 10) + (df_rush_21_w1['TD'] * 6)

In [ ]:
df21_rush = df_rush_21_w1.to_csv('df21_rush.csv')

>>>>>>> # 2022

In [ ]:
def get_pass_data22():
    
    pa22w1 = pd.read_csv('22paweek1 - Sheet1.csv')
    pa22w2 = pd.read_csv('22paweek2 - Sheet1.csv')
    pa22w3 = pd.read_csv('22paweek3 - Sheet1.csv')
    pa22w4 = pd.read_csv('22paweek4 - Sheet1.csv')
    pa22w5 = pd.read_csv('22paweek5 - Sheet1.csv')
    pa22w6 = pd.read_csv('22paweek6 - Sheet1.csv')
    pa22w7 = pd.read_csv('22paweek7 - Sheet1.csv')
    pa22w8 = pd.read_csv('22paweek8 - Sheet1.csv')
    pa22w9 = pd.read_csv('22paweek9 - Sheet1.csv')
    pa22w10 = pd.read_csv('22paweek10 - Sheet1.csv')
    pa22w11 = pd.read_csv('22paweek11 - Sheet1.csv')
    pa22w12 = pd.read_csv('22paweek12 - Sheet1.csv')
    pa22w13 = pd.read_csv('22paweek13 - Sheet1.csv')
    pa22w14 = pd.read_csv('22paweek14 - Sheet1.csv')
    pa22w15 = pd.read_csv('22paweek15 - Sheet1.csv')
    pa22w16 = pd.read_csv('22paweek16 - Sheet1.csv')
    pa22w17 = pd.read_csv('22paweek17 - Sheet1.csv')


    
    return pa22w1, pa22w2, pa22w3, pa22w4, pa22w5, pa22w6, pa22w7, pa22w8, pa22w9, pa22w10, pa22w11, pa22w12, pa22w13, pa22w14, pa22w15, pa22w16, pa22w17

In [ ]:
pass_df22 = (pa22w1, pa22w2, pa22w3, pa22w4, pa22w5, 
             pa22w6, pa22w7, pa22w8, pa22w9, pa22w10, 
             pa22w11, pa22w12, pa22w13, pa22w14, pa22w15, 
             pa22w16, pa22w17) = get_pass_data22()

In [ ]:
df_pass_22_w1 = pd.concat(pass_df22)

In [ ]:
df_pass_22_w1['pts'] = (df_pass_22_w1['Yds'] / 25) + (df_pass_22_w1['TD'] * 4) + (df_pass_22_w1['Int'] * -2)

In [ ]:
df22_pass = df_pass_22_w1.to_csv('df22_pass.csv')

In [ ]:
def get_rec_data22():
    
    rc22w1 = pd.read_csv('22rcweek1 - Sheet1.csv')
    rc22w2 = pd.read_csv('22rcweek2 - Sheet1.csv')
    rc22w3 = pd.read_csv('22rcweek3 - Sheet1.csv')
    rc22w4 = pd.read_csv('22rcweek4 - Sheet1.csv')
    rc22w5 = pd.read_csv('22rcweek5 - Sheet1.csv')
    rc22w6 = pd.read_csv('22rcweek6 - Sheet1.csv')
    rc22w7 = pd.read_csv('22rcweek7 - Sheet1.csv')
    rc22w8 = pd.read_csv('22rcweek8 - Sheet1.csv')
    rc22w9 = pd.read_csv('22rcweek9 - Sheet1.csv')
    rc22w10 = pd.read_csv('22rcweek10 - Sheet1.csv')
    rc22w11 = pd.read_csv('22rcweek11 - Sheet1.csv')
    rc22w12 = pd.read_csv('22rcweek12 - Sheet1.csv')
    rc22w13 = pd.read_csv('22rcweek13 - Sheet1.csv')
    rc22w14 = pd.read_csv('22rcweek14 - Sheet1.csv')
    rc22w15 = pd.read_csv('22rcweek15 - Sheet1.csv')
    rc22w16 = pd.read_csv('22rcweek16 - Sheet1.csv')
    rc22w17 = pd.read_csv('22rcweek17 - Sheet1.csv')


    
    return rc22w1, rc22w2, rc22w3, rc22w4, rc22w5, rc22w6, rc22w7, rc22w8, rc22w9, rc22w10, rc22w11, rc22w12, rc22w13, rc22w14, rc22w15, rc22w16, rc22w17

In [ ]:
rec_df22 = (rc22w1, rc22w2, rc22w3, rc22w4, rc22w5, 
            rc22w6, rc22w7, rc22w8, rc22w9, rc22w10, 
            rc22w11, rc22w12, rc22w13, rc22w14, rc22w15, 
            rc22w16, rc22w17) = get_rec_data22()

In [ ]:
df_rec_22_w1 = pd.concat(rec_df22)

In [ ]:
df_rec_22_w1['pts'] = (df_rec_22_w1['Yds'] / 10) + (df_rec_22_w1['TD'] * 6) + (df_rec_22_w1['Rec'] * 1)

In [ ]:
df22_rec = df_rec_22_w1.to_csv('df22_rec.csv')

In [ ]:
def get_rush_data22():
    
    ru22w1 = pd.read_csv('22ruweek1 - Sheet1.csv')
    ru22w2 = pd.read_csv('22ruweek2 - Sheet1.csv')
    ru22w3 = pd.read_csv('22ruweek3 - Sheet1.csv')
    ru22w4 = pd.read_csv('22ruweek4 - Sheet1.csv')
    ru22w5 = pd.read_csv('22ruweek5 - Sheet1.csv')
    ru22w6 = pd.read_csv('22ruweek6 - Sheet1.csv')
    ru22w7 = pd.read_csv('22ruweek7 - Sheet1.csv')
    ru22w8 = pd.read_csv('22ruweek8 - Sheet1.csv')
    ru22w9 = pd.read_csv('22ruweek9 - Sheet1.csv')
    ru22w10 = pd.read_csv('22ruweek10 - Sheet1.csv')
    ru22w11 = pd.read_csv('22ruweek11 - Sheet1.csv')
    ru22w12 = pd.read_csv('22ruweek12 - Sheet1.csv')
    ru22w13 = pd.read_csv('22ruweek13 - Sheet1.csv')
    ru22w14 = pd.read_csv('22ruweek14 - Sheet1.csv')
    ru22w15 = pd.read_csv('22ruweek15 - Sheet1.csv')
    ru22w16 = pd.read_csv('22ruweek16 - Sheet1.csv')
    ru22w17 = pd.read_csv('22ruweek17 - Sheet1.csv')

    
    return ru22w1, ru22w2, ru22w3, ru22w4, ru22w5, ru22w6, ru22w7, ru22w8, ru22w9, ru22w10, ru22w11, ru22w12, ru22w13, ru22w14, ru22w15, ru22w16, ru22w17

In [ ]:
rush_df22 = (ru22w1, ru22w2, ru22w3, ru22w4, ru22w5, 
             ru22w6, ru22w7, ru22w8, ru22w9, ru22w10, 
             ru22w11, ru22w12, ru22w13, ru22w14, ru22w15, 
             ru22w16, ru22w17) = get_rush_data22()

In [ ]:
df_rush_22_w1 = pd.concat(rush_df22)

In [ ]:
df_rush_22_w1['pts'] = (df_rush_22_w1['Yds'] / 10) + (df_rush_22_w1['TD'] * 6)

In [ ]:
df22_rush = df_rush_22_w1.to_csv('df22_rush.csv')

In [ ]:
df22_rush = pd.read_csv('df22_rush.csv', index_col = 0)

In [ ]:
df22_rush

In [ ]:
def rushing_dfs():
    df22_rush = pd.read_csv('df22_rush.csv', index_col = 0)
    df21_rush = pd.read_csv('df21_rush.csv', index_col = 0)
    df20_rush = pd.read_csv('df20_rush.csv', index_col = 0)
    df19_rush = pd.read_csv('df19_rush.csv', index_col = 0)
    df18_rush = pd.read_csv('df18_rush.csv', index_col = 0)
    
    rush_df = pd.concat([df22_rush, df21_rush, df20_rush, df19_rush, df18_rush])
    
    return rush_df

In [ ]:
rush_df = rushing_dfs()

In [ ]:
rush_df.columns

In [ ]:
rush_dropcol = ['-9999', 'Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 
                'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 
                'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 11', 
                'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 
                'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20']

In [ ]:
rush_df = rush_df.drop(columns = rush_dropcol)

In [ ]:
rush_df = rush_df.drop(columns = ['Yds.1', 'Att.1'])

In [ ]:
rush_df.columns = rush_df.columns.str.lower()

In [ ]:
rush_df

In [ ]:
rush_df.to_csv('rushing_df.csv')

In [ ]:
def receiving_dfs():
    df22_rec = pd.read_csv('df22_rec.csv', index_col = 0)
    df21_rec = pd.read_csv('df21_rec.csv', index_col = 0)
    df20_rec = pd.read_csv('df20_rec.csv', index_col = 0)
    df19_rec = pd.read_csv('df19_rec.csv', index_col = 0)
    df18_rec = pd.read_csv('df18_rec.csv', index_col = 0)
    
    rec_df = pd.concat([df22_rec, df21_rec, df20_rec, df19_rec, df18_rec])
    
    return rec_df

In [ ]:
rec_df = receiving_dfs()

In [ ]:
rec_df.columns

In [ ]:
rec_df = rec_df.drop(columns = ['-9999', 'Tgt.1', 'Yds.1'])

In [ ]:
rec_df.columns = rec_df.columns.str.lower()

In [ ]:
rec_df.to_csv('receiving_df.csv')

In [ ]:
def passing_dfs():
    df22_pass = pd.read_csv('df22_pass.csv', index_col = 0)
    df21_pass = pd.read_csv('df21_pass.csv', index_col = 0)
    df20_pass = pd.read_csv('df20_pass.csv', index_col = 0)
    df19_pass = pd.read_csv('df19_pass.csv', index_col = 0)
    df18_pass = pd.read_csv('df18_pass.csv', index_col = 0)
    
    pass_df = pd.concat([df22_pass, df21_pass, df20_pass, df19_pass, df18_pass])
    
    return pass_df

In [ ]:
pass_df = passing_dfs()

In [ ]:
pass_df.columns

In [ ]:
bad_cols_pass = ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', '-9999', 'Rate.1', 'Yds.1', 'Att.1']

In [ ]:
pass_df = pass_df.drop(columns = bad_cols_pass)

In [ ]:
pass_df.columns = pass_df.columns.str.lower()

In [ ]:
pass_df.to_csv('passing_df.csv')

In [20]:
df2014 = pd.read_csv('2014_fantasy.csv')

In [21]:
df2014['year'] = 2014

In [22]:
df2015 = pd.read_csv('2015_fantasy.csv')

In [25]:
df2015['year'] = 2015

In [26]:
df2016 = pd.read_csv('2016_fantasy.csv')

In [27]:
df2016['year'] = 2016

In [28]:
df2017 = pd.read_csv('2017_fantasy.csv')

In [29]:
df2017['year'] = 2017

In [30]:
df2018 = pd.read_csv('2018_fantasy.csv')

In [31]:
df2018['year'] = 2018

In [32]:
df2019 = pd.read_csv('2019_fantasy.csv')

In [33]:
df2019['year'] = 2019

In [34]:
df2020 = pd.read_csv('2020_fantasy.csv')

In [35]:
df2020['year'] = 2020

In [36]:
df2021 = pd.read_csv('2021_fantasy.csv')

In [37]:
df2021['year'] = 2021

In [38]:
df2022 = pd.read_csv('2022_fantasy.csv')

In [39]:
df2022['year'] = 2022

In [40]:
ffb_df = pd.concat([df2014, df2015, df2016, df2017, 
         df2018, df2019, df2020, df2021, df2022])

In [41]:
ffb_df

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank,-9999,year
0,1,DeMarco Murray*+,DAL,RB,26,16,16,0.0,0.0,0.0,...,NaN,294.0,351.1,362.1,322.6,173.0,1,1.0,MurrDe00,2014
1,2,Le'Veon Bell*+,PIT,RB,22,16,16,0.0,0.0,0.0,...,NaN,288.0,370.5,376.5,329.0,167.0,2,2.0,BellLe00,2014
2,3,Marshawn Lynch*,SEA,RB,28,16,14,0.0,0.0,0.0,...,NaN,265.0,302.3,310.3,283.8,144.0,3,3.0,LyncMa00,2014
3,4,Antonio Brown*+,PIT,WR,26,16,16,2.0,2.0,20.0,...,NaN,258.0,386.9,391.9,322.4,136.0,1,4.0,BrowAn04,2014
4,5,Matt Forte,CHI,RB,29,16,16,0.0,0.0,0.0,...,NaN,245.0,346.6,354.6,295.6,124.0,4,5.0,FortMa00,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,646,Ihmir Smith-Marsette,2TM,WR,23,8,0,0.0,0.0,0.0,...,NaN,-1.0,0.4,1.4,-0.1,NaN,252,NaN,SmitIh00,2022
646,647,KaVontae Turpin*,DAL,WR,26,17,0,0.0,0.0,0.0,...,NaN,-1.0,-0.4,1.6,-0.9,NaN,254,NaN,TurpKa00,2022
647,648,Taiwan Jones,BUF,NaN,34,16,0,0.0,0.0,0.0,...,NaN,-2.0,-2.0,-1.0,-2.0,NaN,173,NaN,JoneTa00,2022
648,649,Chester Rogers,CLE,NaN,28,3,0,0.0,0.0,0.0,...,NaN,-2.0,-2.0,-1.0,-2.0,NaN,255,NaN,RogeCh02,2022
649,650,Tim Boyle,CHI,QB,28,1,0,2.0,8.0,33.0,...,NaN,-3.0,-2.9,-0.9,-0.9,NaN,84,NaN,BoylTi00,2022

In [42]:
ffb_df.to_csv('ffb_df.csv')