In [1]:
import pandas as pd
import numpy as np

In [2]:
def get_pass_data():
    
    pa18w1 = pd.read_csv('18paweek1 - Sheet1.csv')
    pa18w2 = pd.read_csv('18paweek2 - Sheet1.csv')
    pa18w3 = pd.read_csv('18paweek3 - Sheet1.csv')
    pa18w4 = pd.read_csv('18paweek4 - Sheet1.csv')
    pa18w5 = pd.read_csv('18paweek5 - Sheet1.csv')
    pa18w6 = pd.read_csv('18paweek6 - Sheet1.csv')
    pa18w7 = pd.read_csv('18paweek7 - Sheet1.csv')
    pa18w8 = pd.read_csv('18paweek8 - Sheet1.csv')
    pa18w9 = pd.read_csv('18paweek9 - Sheet1.csv')
    pa18w10 = pd.read_csv('18paweek10 - Sheet1.csv')
    pa18w11 = pd.read_csv('18paweek11 - Sheet1.csv')
    pa18w12 = pd.read_csv('18paweek12 - Sheet1.csv')
    pa18w13 = pd.read_csv('18paweek13 - Sheet1.csv')
    pa18w14 = pd.read_csv('18paweek14 - Sheet1.csv')
    pa18w15 = pd.read_csv('18paweek15 - Sheet1.csv')
    pa18w16 = pd.read_csv('18paweek16 - Sheet1.csv')

    
    return pa18w1, pa18w2, pa18w3, pa18w4, pa18w5, pa18w6, pa18w7, pa18w8, pa18w9, pa18w10, pa18w11, pa18w12, pa18w13, pa18w14, pa18w15, pa18w16

In [3]:
pass_df = (pa18w1, pa18w2, pa18w3, pa18w4, 
           pa18w5, pa18w6, pa18w7, pa18w8, 
           pa18w9, pa18w10, pa18w11, pa18w12, 
           pa18w13, pa18w14, pa18w15, pa18w16) = get_pass_data()

In [4]:
df_pass_18_w1 = pd.concat(pass_df)

In [5]:
def pass_df_clean(df):
    
    bad_cols = ['-9999', 'Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 
            'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 11', 'Unnamed: 12', 
            'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 
            'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 
            'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 
            'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33']
    
    df = df.drop(columns = bad_cols)
    
    drops = ['G#', 'Date', 'Rate.1', 'Yds.1', 'Sk', 'Sk%', 'Y/A', 'AY/A', 'ANY/A', 'Y/C', 
             'Cmp%', 'Unnamed: 10', 'Pick6', 'TD%', 'Int%', 'Att', 'Rate', 'Cmp', 'Att.1', 'Inc']
    
    df = df.drop(columns = drops)
    
    df['pts'] = (df['Yds'] / 25) + (df['TD'] * 4) + (df['Int'] * -2)
    
    return df

In [6]:
pass_df_clean(df_pass_18_w1)

,Rk,Player,Day,Week,Age,Team,Opp,Result,Yds,TD,Int,Pos.,Draft,pts
0,1.0,Ryan Fitzpatrick,Sun,1.0,35-289,TAM,NOR,W 48-40,417.0,4.0,0.0,QB,7-250,32.68
1,2.0,Aaron Rodgers,Sun,1.0,34-281,GNB,CHI,W 24-23,286.0,3.0,0.0,QB,1-24,23.44
2,3.0,Drew Brees,Sun,1.0,39-237,NOR,TAM,L 40-48,439.0,3.0,0.0,QB,2-32,29.56
3,4.0,Patrick Mahomes,Sun,1.0,22-357,KAN,LAC,W 38-28,256.0,4.0,0.0,QB,1-10,26.24
4,5.0,Joe Flacco,Sun,1.0,33-236,BAL,BUF,W 47-3,236.0,3.0,0.0,QB,1-18,21.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,40.0,Derrick Henry,Sat,16.0,24-352,TEN,WAS,W 25-16,0.0,0.0,0.0,RB,2-45,0.00
40,41.0,Brian Hoyer,Sun,16.0,33-071,NWE,BUF,W 24-12,0.0,0.0,0.0,QB,NaN,0.00
41,42.0,Nate Sudfeld,Sun,16.0,25-077,PHI,HOU,W 32-30,0.0,0.0,0.0,QB,6-187,0.00
42,43.0,Dede Westbrook,Sun,16.0,25-032,JAX,MIA,W 17-7,0.0,0.0,0.0,WR,4-110,0.00
43,44.0,Taysom Hill,Sun,16.0,28-122,NOR,PIT,W 31-28,0.0,0.0,1.0,QB,NaN,-2.00

In [7]:
def get_rec_data():
    
    rc18w1 = pd.read_csv('18rcweek1 - Sheet1.csv')
    rc18w2 = pd.read_csv('18rcweek2 - Sheet1.csv')
    rc18w3 = pd.read_csv('18rcweek3 - Sheet1.csv')
    rc18w4 = pd.read_csv('18rcweek4 - Sheet1.csv')
    rc18w5 = pd.read_csv('18rcweek5 - Sheet1.csv')
    rc18w6 = pd.read_csv('18rcweek6 - Sheet1.csv')
    rc18w7 = pd.read_csv('18rcweek7 - Sheet1.csv')
    rc18w8 = pd.read_csv('18rcweek8 - Sheet1.csv')
    rc18w9 = pd.read_csv('18rcweek9 - Sheet1.csv')
    rc18w10 = pd.read_csv('18rcweek10 - Sheet1.csv')
    rc18w11 = pd.read_csv('18rcweek11 - Sheet1.csv')
    rc18w12 = pd.read_csv('18rcweek12 - Sheet1.csv')
    rc18w13 = pd.read_csv('18rcweek13 - Sheet1.csv')
    rc18w14 = pd.read_csv('18rcweek14 - Sheet1.csv')
    rc18w15 = pd.read_csv('18rcweek15 - Sheet1.csv')
    rc18w16 = pd.read_csv('18rcweek16 - Sheet1.csv')

    
    return rc18w1, rc18w2, rc18w3, rc18w4, rc18w5, rc18w6, rc18w7, rc18w8, rc18w9, rc18w10, rc18w11, rc18w12, rc18w13, rc18w14, rc18w15, rc18w16

In [8]:
rec_df = (rc18w1, rc18w2, rc18w3, rc18w4, 
          rc18w5, rc18w6, rc18w7, rc18w8, 
          rc18w9, rc18w10, rc18w11, rc18w12, 
          rc18w13, rc18w14, rc18w15, rc18w16) = get_rec_data()

In [9]:
df_rec_18_w1 = pd.concat(rec_df)

In [10]:
df_rec_18_w1.columns

Index(['Rk', 'Player', 'Yds', 'Tgt', 'Day', 'G#', 'Week', 'Date', 'Age',
       'Team', 'Unnamed: 10', 'Opp', 'Result', 'Tgt.1', 'Rec', 'Yds.1', 'Y/R',
       'TD', 'Ctch%', 'Y/Tgt', '1D', 'Pos.', 'Draft', '-9999'],
      dtype='object')

In [11]:
bad_rc_cols = ['-9999', 'Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
            'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
            'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
            'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
            'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
            'Unnamed: 23']

In [12]:
#df_receiving_18_w1 = df_receiving_18_w1.drop(columns = bad_rc_cols)

In [13]:
df_rec_18_w1['pts'] = (df_rec_18_w1['Yds'] / 10) + (df_rec_18_w1['TD'] * 6) + (df_rec_18_w1['Rec'] * 1)

In [14]:
df_rec_18_w1

,Rk,Player,Yds,Tgt,Day,G#,Week,Date,Age,Team,...,Yds.1,Y/R,TD,Ctch%,Y/Tgt,1D,Pos.,Draft,-9999,pts
0,1,Jared Cook,180,12,Mon,1,1,2018-09-10,31-156,OAK,...,180,20.0,0,75.0,15.0,7.0,TE,3-89,CookJa02,27.0
1,2,Michael Thomas,180,17,Sun,1,1,2018-09-09,25-190,NOR,...,180,11.3,1,94.1,10.6,7.0,WR,2-47,ThomMi05,40.0
2,3,Tyreek Hill,169,8,Sun,1,1,2018-09-09,24-192,KAN,...,169,24.1,2,87.5,21.1,6.0,WR,5-165,HillTy00,35.9
3,4,Julio Jones,169,19,Thu,1,1,2018-09-06,29-210,ATL,...,169,16.9,0,52.6,8.9,7.0,WR,1-6,JoneJu02,26.9
4,5,Mike Evans,147,7,Sun,1,1,2018-09-09,25-019,TAM,...,147,21.0,1,100.0,21.0,7.0,WR,1-7,EvanMi00,27.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,252,Jordan Thomas,0,1,Sun,15,16,2018-12-23,22-143,HOU,...,0,NaN,0,0.0,0.0,NaN,TE,6-211,ThomJo05,0.0
252,253,Logan Thomas,0,1,Sun,15,16,2018-12-23,27-175,BUF,...,0,NaN,0,0.0,0.0,NaN,TE,4-120,ThomLo00,0.0
253,254,James Washington,0,2,Sun,15,16,2018-12-23,22-265,PIT,...,0,NaN,0,0.0,0.0,NaN,WR,2-60,WashJa00,0.0
254,255,C.J. Anderson,-5,3,Sun,15,16,2018-12-23,27-316,LAR,...,-5,-5.0,0,33.3,-1.7,0.0,RB,NaN,AndeC.00,0.5
255,256,LeGarrette Blount,-5,4,Sun,15,16,2018-12-23,32-018,DET,...,-5,-2.5,0,50.0,-1.3,0.0,RB,NaN,BlouLe00,1.5

In [15]:
def get_rush_data():
    
    ru18w1 = pd.read_csv('18ruweek1 - Sheet1.csv')
    ru18w2 = pd.read_csv('18ruweek2 - Sheet1.csv')
    ru18w3 = pd.read_csv('18ruweek3 - Sheet1.csv')
    ru18w4 = pd.read_csv('18ruweek4 - Sheet1.csv')
    ru18w5 = pd.read_csv('18ruweek5 - Sheet1.csv')
    ru18w6 = pd.read_csv('18ruweek6 - Sheet1.csv')
    ru18w7 = pd.read_csv('18ruweek7 - Sheet1.csv')
    ru18w8 = pd.read_csv('18ruweek8 - Sheet1.csv')
    ru18w9 = pd.read_csv('18ruweek9 - Sheet1.csv')
    ru18w10 = pd.read_csv('18ruweek10 - Sheet1.csv')
    ru18w11 = pd.read_csv('18ruweek11 - Sheet1.csv')
    ru18w12 = pd.read_csv('18ruweek12 - Sheet1.csv')
    ru18w13 = pd.read_csv('18ruweek13 - Sheet1.csv')
    ru18w14 = pd.read_csv('18ruweek14 - Sheet1.csv')
    ru18w15 = pd.read_csv('18ruweek15 - Sheet1.csv')
    ru18w16 = pd.read_csv('18ruweek16 - Sheet1.csv')

    
    return ru18w1, ru18w2, ru18w3, ru18w4, ru18w5, ru18w6, ru18w7, ru18w8, ru18w9, ru18w10, ru18w11, ru18w12, ru18w13, ru18w14, ru18w15, ru18w16

In [16]:
rush_df = (ru18w1, ru18w2, ru18w3, ru18w4, 
 ru18w5, ru18w6, ru18w7, ru18w8, 
 ru18w9, ru18w10, ru18w11, ru18w12, 
 ru18w13, ru18w14, ru18w15, ru18w16) = get_rush_data()

In [18]:
df_rush_18_w1 = pd.concat(rush_df)

In [19]:
df_rush_18_w1.columns

Index(['Rk', 'Player', 'Yds', 'Att', 'Day', 'G#', 'Week', 'Date', 'Age',
       'Team', 'Unnamed: 10', 'Opp', 'Result', 'Att.1', 'Yds.1', 'Y/A', 'TD',
       '1D', 'Pos.', 'Draft', '-9999', 'Unnamed: 0', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20'],
      dtype='object')

In [20]:
bad_ru_cols = ['-9999', 'Unnamed: 0', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20']

In [21]:
df_rush_18_w1 = df_rush_18_w1.drop(columns = bad_ru_cols)

In [22]:
df_rush_18_w1['pts'] = (df_rush_18_w1['Yds'] / 10) + (df_rush_18_w1['TD'] * 6)

In [23]:
df_rush_18_w1

,Rk,Player,Yds,Att,Day,G#,Week,Date,Age,Team,Opp,Result,Att.1,Yds.1,Y/A,TD,1D,Pos.,Draft,pts
0,1.0,James Conner,135.0,31.0,Sun,1.0,1.0,2018-09-09,23-127,PIT,CLE,T 21-21 (OT),31.0,135.0,4.4,2.0,5.0,RB,3-105,25.5
1,2.0,Todd Gurley,108.0,20.0,Mon,1.0,1.0,2018-09-10,24-038,LAR,OAK,W 33-13,20.0,108.0,5.4,0.0,6.0,RB,1-10,10.8
2,3.0,Saquon Barkley,106.0,18.0,Sun,1.0,1.0,2018-09-09,21-212,NYG,JAX,L 15-20,18.0,106.0,5.9,1.0,3.0,RB,1-2,16.6
3,4.0,Isaiah Crowell,102.0,10.0,Mon,1.0,1.0,2018-09-10,25-245,NYJ,DET,W 48-17,10.0,102.0,10.2,2.0,3.0,RB,NaN,22.2
4,5.0,Lamar Miller,98.0,20.0,Sun,1.0,1.0,2018-09-09,27-137,HOU,NWE,L 20-27,20.0,98.0,4.9,0.0,3.0,RB,4-97,9.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,127.0,Theo Riddick,-2.0,3.0,Sun,15.0,16.0,2018-12-23,27-233,DET,MIN,L 9-27,3.0,-2.0,-0.7,0.0,0.0,RB,6-199,-0.2
127,128.0,Derek Carr,-3.0,4.0,Mon,15.0,16.0,2018-12-24,27-271,OAK,DEN,W 27-14,4.0,-3.0,-0.8,0.0,0.0,QB,2-36,-0.3
128,129.0,Sterling Shepard,-3.0,1.0,Sun,15.0,16.0,2018-12-23,25-316,NYG,IND,L 27-28,1.0,-3.0,-3.0,0.0,0.0,WR,2-40,-0.3
129,130.0,Tim Patrick,-7.0,1.0,Mon,15.0,16.0,2018-12-24,25-031,DEN,OAK,L 14-27,1.0,-7.0,-7.0,0.0,0.0,WR,NaN,-0.7
130,131.0,Rod Smith,-7.0,2.0,Sun,15.0,16.0,2018-12-23,26-347,DAL,TAM,W 27-20,2.0,-7.0,-3.5,0.0,NaN,RB,NaN,-0.7

>>>>>>> # 2019

In [24]:
def get_pass_data19():
    
    pa19w1 = pd.read_csv('19paweek1 - Sheet1.csv')
    pa19w2 = pd.read_csv('19paweek2 - Sheet1.csv')
    pa19w3 = pd.read_csv('19paweek3 - Sheet1.csv')
    pa19w4 = pd.read_csv('19paweek4 - Sheet1.csv')
    pa19w5 = pd.read_csv('19paweek5 - Sheet1.csv')
    pa19w6 = pd.read_csv('19paweek6 - Sheet1.csv')
    pa19w7 = pd.read_csv('19paweek7 - Sheet1.csv')
    pa19w8 = pd.read_csv('19paweek8 - Sheet1.csv')
    pa19w9 = pd.read_csv('19paweek9 - Sheet1.csv')
    pa19w10 = pd.read_csv('19paweek10 - Sheet1.csv')
    pa19w11 = pd.read_csv('19paweek11 - Sheet1.csv')
    pa19w12 = pd.read_csv('19paweek12 - Sheet1.csv')
    pa19w13 = pd.read_csv('19paweek13 - Sheet1.csv')
    pa19w14 = pd.read_csv('19paweek14 - Sheet1.csv')
    pa19w15 = pd.read_csv('19paweek15 - Sheet1.csv')
    pa19w16 = pd.read_csv('19paweek16 - Sheet1.csv')

    
    return pa19w1, pa19w2, pa19w3, pa19w4, pa19w5, pa19w6, pa19w7, pa19w8, pa19w9, pa19w10, pa19w11, pa19w12, pa19w13, pa19w14, pa19w15, pa19w16

In [25]:
pass_df = (pa19w1, pa19w2, pa19w3, pa19w4, pa19w5, pa19w6, 
 pa19w7, pa19w8, pa19w9, pa19w10, pa19w11, pa19w12, 
 pa19w13, pa19w14, pa19w15, pa19w16) = get_pass_data19()

In [26]:
df_pass_19_w1 = pd.concat(pass_df)

In [27]:
def clean_df_pass19(df):
    
    drops = ['-9999', 'G#', 'Date', 'Rate.1', 'Yds.1', 'Sk', 'Sk%', 'Y/A', 'AY/A', 'ANY/A', 'Y/C', 
             'Cmp%', 'Unnamed: 10', 'Pick6', 'TD%', 'Int%', 'Att', 'Rate', 'Cmp', 'Att.1', 'Inc']
    
    df = df.drop(columns = drops)
    
    df['pts'] = (df['Yds'] / 25) + (df['TD'] * 4) + (df['Int'] * -2)
    
    return df

In [28]:
clean_df_pass19(df_pass_19_w1)

,Rk,Player,Day,Week,Age,Team,Opp,Result,Yds,TD,Int,Pos.,Draft,pts
0,1,Lamar Jackson,Sun,1,22-244,BAL,MIA,W 59-10,324,5,0,QB,1-32,32.96
1,2,Dak Prescott,Sun,1,26-041,DAL,NYG,W 35-17,405,4,0,QB,4-135,32.20
2,3,Robert Griffin III,Sun,1,29-208,BAL,MIA,W 59-10,55,1,0,QB,1-2,6.20
3,4,Patrick Mahomes,Sun,1,23-356,KAN,JAX,W 40-26,378,3,0,QB,1-10,27.12
4,5,Kirk Cousins,Sun,1,31-020,MIN,ATL,W 28-12,98,1,0,QB,4-102,7.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,37,Kirk Cousins,Mon,16,31-126,MIN,GNB,L 10-23,122,1,1,QB,4-102,6.88
37,38,Jameis Winston,Sat,16,25-349,TAM,HOU,L 20-23,335,1,4,QB,1-1,9.40
38,39,Will Grier,Sun,16,24-263,CAR,IND,L 6-38,224,0,3,QB,3-100,2.96
39,40,Stefon Diggs,Mon,16,26-024,MIN,GNB,L 10-23,0,0,0,WR,5-146,0.00
40,41,Devlin Hodges,Sun,16,23-254,PIT,NYJ,L 10-16,84,0,2,QB,NaN,-0.64

In [29]:
def get_rec_data19():
    
    rc19w1 = pd.read_csv('19rcweek1 - Sheet1.csv')
    rc19w2 = pd.read_csv('19rcweek2 - Sheet1.csv')
    rc19w3 = pd.read_csv('19rcweek3 - Sheet1.csv')
    rc19w4 = pd.read_csv('19rcweek4 - Sheet1.csv')
    rc19w5 = pd.read_csv('19rcweek5 - Sheet1.csv')
    rc19w6 = pd.read_csv('19rcweek6 - Sheet1.csv')
    rc19w7 = pd.read_csv('19rcweek7 - Sheet1.csv')
    rc19w8 = pd.read_csv('19rcweek8 - Sheet1.csv')
    rc19w9 = pd.read_csv('19rcweek9 - Sheet1.csv')
    rc19w10 = pd.read_csv('19rcweek10 - Sheet1.csv')
    rc19w11 = pd.read_csv('19rcweek11 - Sheet1.csv')
    rc19w12 = pd.read_csv('19rcweek12 - Sheet1.csv')
    rc19w13 = pd.read_csv('19rcweek13 - Sheet1.csv')
    rc19w14 = pd.read_csv('19rcweek14 - Sheet1.csv')
    rc19w15 = pd.read_csv('19rcweek15 - Sheet1.csv')
    rc19w16 = pd.read_csv('19rcweek16 - Sheet1.csv')

    
    return rc19w1, rc19w2, rc19w3, rc19w4, rc19w5, rc19w6, rc19w7, rc19w8, rc19w9, rc19w10, rc19w11, rc19w12, rc19w13, rc19w14, rc19w15, rc19w16

In [30]:
rec_df = (rc19w1, rc19w2, rc19w3, rc19w4, 
          rc19w5, rc19w6, rc19w7, rc19w8, 
          rc19w9, rc19w10, rc19w11, rc19w12, 
          rc19w13, rc19w14, rc19w15, rc19w16) = get_rec_data19()

In [31]:
df_rec_19_w1 = pd.concat(rec_df)

In [32]:
df_rec_19_w1['pts'] = (df_rec_19_w1['Yds'] / 10) + (df_rec_19_w1['TD'] * 6) + (df_rec_19_w1['Rec'] * 1)

In [33]:
rec19drops = ['G#', '-9999', '1D', 'Yds.1', 'Y/R', 'Ctch%', 'Y/Tgt', 'Date', 'Unnamed: 10', 'Tgt.1']

In [34]:
df_rec_19_w1 = df_rec_19_w1.drop(columns = rec19drops)

In [35]:
df_rec_19_w1

,Rk,Player,Yds,Tgt,Day,Week,Age,Team,Opp,Result,Rec,TD,Pos.,Draft,pts
0,1,Sammy Watkins,198,11,Sun,1,26-086,KAN,JAX,W 40-26,9,3,WR,1-4,46.8
1,2,Michael Gallup,158,7,Sun,1,23-188,DAL,NYG,W 35-17,7,0,WR,3-81,22.8
2,3,John Ross,158,12,Sun,1,23-285,CIN,SEA,L 20-21,7,2,WR,1-9,34.8
3,4,DeSean Jackson,154,9,Sun,1,32-281,PHI,WAS,W 32-27,8,2,WR,2-49,35.4
4,5,Marquise Brown,147,5,Sun,1,22-096,BAL,MIA,W 59-10,4,2,WR,1-25,30.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,265,Willie Snead,0,1,Sun,16,27-066,BAL,CLE,W 31-15,0,0,WR,NaN,0.0
265,266,Luke Stocker,0,1,Sun,16,31-158,ATL,JAX,W 24-12,0,0,TE,4-104,0.0
266,267,Adam Thielen,0,4,Mon,16,29-123,MIN,GNB,L 10-23,0,0,WR,NaN,0.0
267,268,Laquon Treadwell,0,1,Mon,16,24-192,MIN,GNB,L 10-23,0,0,WR,1-23,0.0
268,269,Danny Vitale,0,1,Mon,16,26-058,GNB,MIN,W 23-10,0,0,RB,6-197,0.0

In [37]:
def get_rush_data19():
    
    ru19w1 = pd.read_csv('19ruweek1 - Sheet1.csv')
    ru19w2 = pd.read_csv('19ruweek2 - Sheet1.csv')
    ru19w3 = pd.read_csv('19ruweek3 - Sheet1.csv')
    ru19w4 = pd.read_csv('19ruweek4 - Sheet1.csv')
    ru19w5 = pd.read_csv('19ruweek5 - Sheet1.csv')
    ru19w6 = pd.read_csv('19ruweek6 - Sheet1.csv')
    ru19w7 = pd.read_csv('19ruweek7 - Sheet1.csv')
    ru19w8 = pd.read_csv('19ruweek8 - Sheet1.csv')
    ru19w9 = pd.read_csv('19ruweek9 - Sheet1.csv')
    ru19w10 = pd.read_csv('19ruweek10 - Sheet1.csv')
    ru19w11 = pd.read_csv('19ruweek11 - Sheet1.csv')
    ru19w12 = pd.read_csv('19ruweek12 - Sheet1.csv')
    ru19w13 = pd.read_csv('19ruweek13 - Sheet1.csv')
    ru19w14 = pd.read_csv('19ruweek14 - Sheet1.csv')
    ru19w15 = pd.read_csv('19ruweek15 - Sheet1.csv')
    ru19w16 = pd.read_csv('19ruweek16 - Sheet1.csv')

    
    return ru19w1, ru19w2, ru19w3, ru19w4, ru19w5, ru19w6, ru19w7, ru19w8, ru19w9, ru19w10, ru19w11, ru19w12, ru19w13, ru19w14, ru19w15, ru19w16

In [38]:
rush_df = (ru19w1, ru19w2, ru19w3, ru19w4, 
           ru19w5, ru19w6, ru19w7, ru19w8, 
           ru19w9, ru19w10, ru19w11, ru19w12, 
           ru19w13, ru19w14, ru19w15, ru19w16) = get_rush_data19()

In [39]:
df_rush_19_w1 = pd.concat(rush_df)

In [41]:
rush19drop = ['-9999', 'G#', 'Att', 'Att.1', 'Yds.1', 'Y/A', '1D', 'Unnamed: 10', 'Date']

In [42]:
df_rush_19_w1 = df_rush_19_w1.drop(columns = rush19drop)

In [44]:
df_rush_19_w1['pts'] = (df_rush_19_w1['Yds'] / 10) + (df_rush_19_w1['TD'] * 6)

In [45]:
df_rush_19_w1

,Rk,Player,Yds,Day,Week,Age,Team,Opp,Result,TD,Pos.,Draft,pts
0,1,Marlon Mack,174,Sun,1,23-185,IND,LAC,L 24-30 (OT),1,RB,4-143,23.4
1,2,Christian McCaffrey,128,Sun,1,23-093,CAR,LAR,L 27-30,2,RB,1-8,24.8
2,3,Saquon Barkley,120,Sun,1,22-211,NYG,DAL,L 17-35,0,RB,1-2,12.0
3,4,Dalvin Cook,111,Sun,1,24-029,MIN,ATL,W 28-12,2,RB,2-41,23.1
4,5,Mark Ingram,107,Sun,1,29-261,BAL,MIA,W 59-10,2,RB,1-28,22.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,123,Brian Hoyer,-2,Sun,16,34-070,IND,CAR,W 38-6,0,QB,NaN,-0.2
123,124,Tyrod Taylor,-2,Sun,16,30-141,LAC,OAK,L 17-24,0,QB,6-180,-0.2
124,125,Drew Brees,-3,Sun,16,40-341,NOR,TEN,W 38-28,0,QB,2-32,-0.3
125,126,Aaron Rodgers,-3,Mon,16,36-021,GNB,MIN,W 23-10,0,QB,1-24,-0.3
126,127,Keenan Allen,-5,Sun,16,27-239,LAC,OAK,L 17-24,0,WR,3-76,-0.5